{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="buzz">
    <section id="section9" style="background: url('/assets/img/landing/pattern-buzz.png') repeat">
        <div class="full-height" style="width:100%;">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="row one-sixth-height"></div>
                <div class="row three-quarter-height" style="background: url('/assets/img/landing/border-buzz.png') no-repeat left top;background-size: 100% 100%">
                    <div class="row program-top"></div>
                    <div class="program-middle" style="vertical-align:middle">
                        <div id="buzz-carousel" style="width:100%;height:100%" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="item active" style="text-align:center">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-8">
                                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                                            <br>
                                            <p class="section_text">
                                                Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.<br>
                                                Come in, sit, have some tea & hand with the smartest, most interesting people in town. People like you.
                                            </p>
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                                <div class="item" style="text-align:center">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-8">
                                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                                            <br>
                                            <p class="section_text">
                                                Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.<br>
                                                Come in, sit, have some tea & hand with the smartest, most interesting people in town. People like you.
                                            </p>
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                                <div class="item" style="text-align:center">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-8">
                                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                                            <br>
                                            <p class="section_text">
                                                Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.<br>
                                                Come in, sit, have some tea & hand with the smartest, most interesting people in town. People like you.
                                            </p>
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#buzz-carousel" data-slide="prev" style="background-image:none">
                                <span style="position: absolute;top: 50%;z-index: 5;display: inline-block;left: 5%;"><img src="/assets/img/landing/buzz-left-arrow.png"></span>
                            </a>
                            <a class="right carousel-control" href="#buzz-carousel" data-slide="next" style="background-image:none">
                                <span style="position: absolute;top: 50%;z-index: 5;display: inline-block;right: 5%;"><img src="/assets/img/landing/buzz-right-arrow.png"></span>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#buzz-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#buzz-carousel" data-slide-to="1"></li>
                                <li data-target="#buzz-carousel" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                    <div class="row program-bottom"></div>
                </div>
                <div class="row one-twelfth-height"></div>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/buzz.js"></script>
<script src="/assets/js/lib/jquery.smooth-scroll.min.js"></script>
{% endblock %}