<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Haggle Community">
    <!--<link href="/assets/css/common/normalize.css" type="text/css" rel="stylesheet">-->
    <link href="/assets/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/common/haggle_base.css" type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    {% block Styles %}{% endblock %}
    <title>{% block Title %}Haggle - Your World. Your Bargain.{% endblock %}</title>
    <script src="/assets/js/common/config.js"></script>
</head>
<body data-spy="scroll" data-target=".landing-nav">
    <div class="wrap">
        <nav class="landing-nav">
            <ul class="nav navbar">
                <li>
                    <a href="/"><img src="/assets/img/Haggle_Logo_main.png"></a>
                </li>
                <li>
                    <a href="#section1" onClick="return smoothScrollTo(event, '#section1')">Vision</a>
                </li>
                <li>
                    <a href="#section2" onClick="return smoothScrollTo(event, '#section2')">Contact</a>
                </li>
                <li>
                    <a href="#section3" onClick="return smoothScrollTo(event, '#section3')">Developer Community</a>
                </li>
                <li>
                    <a href="#section4" onClick="return smoothScrollTo(event, '#section4')">Startup Community</a>
                </li>
                <li>
                    <a href="#section5" onClick="return smoothScrollTo(event, '#section5')">Artist Community</a>
                </li>
                <li>
                    <a href="#section6" onClick="return smoothScrollTo(event, '#section6')">Calendar</a>
                </li>
            </ul>
        </nav>
        <div class="content-page">
            {% block Content %}{% endblock %}
        </div>
        <script src="/assets/js/lib/jquery.min.js"></script>
        <script src="/assets/js/lib/bootstrap.min.js"></script>
        {% block Scripts %}{% endblock %}
    </div>
</body>
</html>