<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Knock Twice For Revolution at Bangalore’s playground for startups, innovators, artists, and nerds in general.">
    <!--<link href="/assets/css/common/normalize.css" type="text/css" rel="stylesheet">-->
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
    <link href="/assets/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/common/beaglesloft_base.css" type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Gudea:100,200,300,400,500,600,700,800,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700,800,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    {% block Styles %}{% endblock %}
    <title>{% block Title %}BeaglesLoft{% endblock %}</title>
    <script src="/assets/js/common/config.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46813702-1', 'beaglesloft.com');
      ga('send', 'pageview');

    </script>
</head>
<body>
    <div id="fb-root"></div>
    <div id="wrap-div" class="wrap">
        <div id={% block Navbar_Type %}navbar-fluid{% endblock %} class="navbar navbar-fixed-top" style={% block Navbar_DisplayType %}{% endblock %}>
            <div class="nav-bg"></div>
            <div class="navbar-inner">
                <div id="c820" class="collapse-820">
                    <div id="navbar-inner-row">
                        <ul class="nav pull-left">
                            <li>
                                <a href="/#" class="hover-enabled" style="padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;"  onclick="ga('send', 'event', 'website-navbar', 'click', 'Logo Clicked')">
                                    <img id="navbar-logo" style="height:50px;width:50px;" src="/assets/img/landing/beagles-logo-nav.png">
                                </a>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            <li><a href="/events" class="nav-link hover-enabled" onclick="ga('send', 'event', 'website-navbar', 'click', 'Events Clicked')">EVENTS</a></li>
                            <li><a href="/community" class="nav-link hover-enabled" onclick="ga('send', 'event', 'website-navbar', 'click', 'Community Clicked')">COMMUNITY</a></li>
                            <li><a href="http://beaglesblog.tumblr.com" target="_blank" class="hover-enabled" onclick="ga('send', 'event', 'website-navbar', 'click', 'Blog Clicked')">BLOG</a></li>
                            <li><a href="{% if is_member %}/members/profile{% else %}/member_access{% endif %}" class="nav-link hover-enabled" {% if is_member %}style="padding-top:0px;padding-bottom:0px;"  onclick="ga('send', 'event', 'website-navbar', 'click', 'Member Profile Clicked')" {% else %} onclick="ga('send', 'event', 'website-navbar', 'click', 'Join Clicked')" {% endif %}>{% if is_member %}<img style="height:50px;width:50px;" src="{{member.image_url}}">{% else %}JOIN{% endif %}</a></li>
                        </ul>
                    </div>
                </div>
                <div id="s820" class="show-820" style="display:none">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a style="padding:0px" href="#" data-toggle="modal" data-target="#mobile-menu-modal">
                                        <img src="/assets/img/Haggle_Mobile_navbar_menu_icon.png" alt="Menu Icon" height="20"/>
                                    </a>
                                </li>
                                <li class="haggle-logo-small">
                                    <a style="padding:0px;margin-left:75px" id="vendor-header-link" class="brand" href="/#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-page">
            {% block Content %}{% endblock %}
            {% block Footer %}{% endblock %}
        </div>
        <script src="/assets/js/lib/jquery.min.js"></script>
        <script src="/assets/js/lib/jquery-ui.js"></script>
        <script src="/assets/js/lib/bootstrap.min.js"></script>
        <script src="/assets/js/community.js"></script>
        {% block Scripts %}{% endblock %}
    </div>

    <div id="mobile-menu-modal" class="modal fade">
        <div class="bglft-modal-dialog-header modal-header">
            <a class="pull-left close" data-dismiss="modal" href="#">&times;</a>
        </div>
        <div class="bglft-modal-dialog-body modal-body">
            <ul>
                <li>
                    <a href="/#" class="nav-link">
                        <div style="text-align:center">HOME</div>
                    </a>
                </li>
                <li>
                    <a href="/events" class="nav-link">
                        <div style="text-align:center">EVENTS</div>
                    </a>
                </li>
                <li>
                    <a href="/community" class="nav-link">
                        <div style="text-align:center">COMMUNITY</div>
                    </a>
                </li>
                <li>
                    <a href="http://beaglesblog.tumblr.com" target="_blank" class="">
                        <div style="text-align:center">BLOG</div>
                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="/member_access" class="nav-link">-->
                        <!--<div style="text-align:center">JOIN</div>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="bglft-modal-dialog-body modal-footer" style="text-align:center">
        </div>
    </div>

</body>
</html>