<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="description" content="Knock Twice For Revolution at Bangalore’s playground for startups, innovators, artists, and nerds in general.">
    <!--<link href="/assets/css/common/normalize.css" type="text/css" rel="stylesheet">-->
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
    <link href="/assets/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/common/beaglesloft_base.css" type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Gudea:100,200,300,400,500,600,700,800,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700,800,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    {% block Styles %}{% endblock %}
    <title>{% block Title %}BeaglesLoft{% endblock %}</title>
    <script src="/assets/js/common/config.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46813702-1', 'beaglesloft.com');
      ga('send', 'pageview');

    </script>
</head>
<body data-spy="scroll" data-target=".landing-nav" style="height:100%">
    <div id="fb-root"></div>
    <div id="wrap-div" class="wrap" style="height:100%">
        <div id={% block Navbar_Type %}navbar-fluid{% endblock %} class="navbar navbar-fixed-top" style={% block Navbar_DisplayType %}opacity:0{% endblock %}>
            <div class="nav-bg" style="height:70px;width:100%;background-color:rgba(48,46,46,0.95);position:absolute;"></div>
            <div class="navbar-inner" style="text-align:center;">
                <div id="c820" class=" collapse-820" style="padding-top:10px;padding-bottom:10px;padding-left:0px;padding-right:0px;margin:0px;width:940px;margin:auto;">
                    <div id="navbar-inner-row" style="height:50px;">
                        <ul class="nav pull-left">
                            <li>
                                <a href="/#" class="hover-enabled" style="padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;">
                                    <img id="navbar-logo" style="height:50px;width:50px;" src="/assets/img/landing/beagles-logo-nav.png">
                                </a>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            <!--<li><a href="/" class="nav-link hover-enabled">THE LOFT</a></li>-->
                            <!--<li><a href="/#values" class="nav-link hover-enabled">OUR VALUES</a></li>-->
                            <li><a href="/events" class="nav-link hover-enabled">EVENTS</a></li>
                            <li><a href="/community" class="nav-link hover-enabled">COMMUNITY</a></li>
                            <!--<li><a href="/buzz" class="nav-link hover-enabled">BUZZ</a></li>-->
                            <!--<li><a href="/contact" class="nav-link hover-enabled">CONTACT</a></li>-->
                            <li><a href="http://beaglesblog.tumblr.com" target="_blank" class="hover-enabled">BLOG</a></li>
                            <!--<li><a href="/calendar" class="nav-link hover-enabled">CALENDAR</a></li>-->
                            <!--<li><a href="/members/profile" class="nav-link hover-enabled">LOGIN</a></li>-->
                            <li><a href="{% if is_member %}/members/profile{% else %}/member_access{% endif %}" class="nav-link hover-enabled" {% if is_member %}style="padding-top:0px;padding-bottom:0px;"{% endif %}>{% if is_member %}<img style="height:50px;width:50px;" src="{% if member.image %} /api/members/{{member.email}}/image {% elif member.facebook_id %} https://graph.facebook.com/{{member.facebook_id}}/picture?type=normal&height=50&width=50 {% else %} /assets/img/landing/default_member.png {% endif %}">{% else %}JOIN{% endif %}</a></li>
                            <!--<li><a href="/create_event" class="nav-link hover-enabled">CREATE EVENT</a></li>-->
                        </ul>
                    </div>
                </div>
                <div id="s820" class=" show-820" style="display:none">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a style="padding:0px" href="#" data-toggle="dropdown">
                                        <img src="/assets/img/Haggle_Mobile_navbar_menu_icon.png" alt="Menu Icon" height="20"/>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!--<li>-->
                                            <!--<a href="/" class="nav-link">-->
                                                <!--<div style="text-align:center">THE LOFT</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="/#values" class="nav-link">-->
                                                <!--<div style="text-align:center">OUR VALUES</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <li>
                                            <a href="/events" class="nav-link">
                                                <div style="text-align:center">EVENTS</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/community" class="nav-link">
                                                <div style="text-align:center">COMMUNITY</div>
                                            </a>
                                        </li>
                                        <!--<li>-->
                                            <!--<a href="/buzz" class="nav-link">-->
                                                <!--<div style="text-align:center">BUZZ</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="/contact" class="nav-link">-->
                                                <!--<div style="text-align:center">CONTACT</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <li>
                                            <a href="http://beaglesblog.tumblr.com" target="_blank" class="">
                                                <div style="text-align:center">BLOG</div>
                                            </a>
                                        </li>
                                        <!--<li>-->
                                            <!--<a href="/calendar" class="nav-link">-->
                                                <!--<div style="text-align:center">CALENDAR</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="/members/profile" class="nav-link">-->
                                                <!--<div style="text-align:center">LOGIN</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <li>
                                            <a href="/member_access" class="nav-link">
                                                <div style="text-align:center">JOIN</div>
                                            </a>
                                        </li>
                                        <!--<li>-->
                                            <!--<a href="/create_event" class="nav-link">-->
                                                <!--<div style="text-align:center">CREATE EVENT</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                    </ul>
                                </li>
                                <li class="haggle-logo-small">
                                    <a style="padding:0px;margin-left:75px" id="vendor-header-link" class="brand" href="/#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-page" style="height:100%">
            {% block Content %}{% endblock %}
        </div>
        <script src="/assets/js/lib/jquery.min.js"></script>
        <script src="/assets/js/lib/jquery-ui.js"></script>
        <script src="/assets/js/lib/bootstrap.min.js"></script>
        <script src="/assets/js/lib/jquery.mousewheel.js"></script>
        <script src="/assets/js/lib/waypoints.min.js"></script>
        <script src="/assets/js/community.js"></script>
        {% block Scripts %}{% endblock %}
    </div>
</body>
</html>