{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/sass_out/events.css" type="text/css" rel="stylesheet">
<link href="/assets/css/sass_out/past_events.css" type="text/css" rel="stylesheet">

<!-- <link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
<link href="/assets/css/member_register.css" type="text/css" rel="stylesheet">
 -->{% endblock %}

{% block Content %}
<div class="hero row">
    <div class="col-sm-4 col-sm-offset-4">
        <p>EVENTS AT BEAGLES LOFT</p>
    </div>
</div>
<div class="white-bg">
    <div class="width960 view-option">
        <p class="page-select" onclick="showPage('eventlist')">VIEW LIST</p>
        <p class="page-select" onclick="showPage('calendar')">VIEW CALENDER</p>
    </div>
</div>

<div class="tab-page width960" id="eventlist-page">
    <p class="event-div-title">UPCOMING EVENTS</p>
    {% if upcoming_events.0 %}
        <div id="upcoming-carousel" class="launch-image carousel slide" data-interval="5000" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for upcoming_event in upcoming_events %}
                    <li data-target="#upcoming-carousel" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for upcoming_event in upcoming_events %}
                    <div class="item {% if forloop.first %} active {% endif %}">
                        <div class="separator1"></div>
                        <div class="row">
                            <div class="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-1 event-name">
                                <div>
                                    {% if upcoming_event %}
                                    {{upcoming_event.name}}
                                    {% else %}
                                    NEXT EXCITING EVENT SOON!
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-1 event-date">
                                <div>
                                    {% if upcoming_event %}
                                    {{upcoming_event.date}},&nbsp{{upcoming_event.time}}
                                    {% else %}
                                    COMING SOON
                                    {% endif %}
                                </div>                                
                            </div>
                        </div>
                        <div class="separator2"></div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 event-desc">
                                <div>                                    
                                    {% if upcoming_event %}
                                    {{upcoming_event.description}}
                                    {% else %}
                                    Check out this space for the next exciting event at the Loft very soon!
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-11 col-xs-offset-1  col-sm-4 col-sm-offset-1 event-button">
                                <div>
                                    <a target="_blank" href="{% if upcoming_event %}{{upcoming_event.link}}{% else %}http://www.beaglesloft.com/events{% endif %}" onclick="ga('send', 'event', 'Events Page', 'click', 'Learn More Button - Upcoming ' + '{% if upcoming_event %}{{upcoming_event.link}}{% else %}http://www.beaglesloft.com/events{% endif %}')">
                                        <p>LEARN MORE</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>                
        </div>
    {% else %}
        <div class="launch-image">
            <div class="separator"></div>
            <div class="col-xs-11 col-xs-offset-1 event-name"><div>NEXT EXCITING EVENT SOON!</div></div>
            <div class="separator2"></div>
            <div class="col-xs-10 col-xs-offset-1 event-desc"><div>Check out this space for the next exciting event at the Loft very soon!</div></div>
        </div>
    {% endif %}

    <p class="event-div-title">PAST EVENTS</p>
    {% for key, value in past_events.items %}
        {% include "components/past_events.html" with events=value counter=forloop.counter %}
    {% endfor %}
    
</div>

<div class="tab-page width960" id="calendar-page" style="display:none;">
    <div class="separator30"></div>
    <p><i>To schedule an event write to us at <a href="mailto:hello@beaglesloft.com?subject=Event Schedule Request">hello@beaglesloft.com</a></i></p>
    <div class="separator30"></div>
    <iframe src="https://www.google.com/calendar/embed?title=The%20Beagles%20Loft%20Calendar&amp;height=600&amp;wkst=1&amp;bgcolor=%23f2f2f2&amp;src=b-eagles.com_pvdrbhep7fg940qor24iejbjr8%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=Asia%2FCalcutta" style=" border-width:0;font-family: 'Merriweather', sans-serif " width="960" height="600" frameborder="0" scrolling="no"></iframe>
    <div class="separator30"></div>
</div>

{% endblock %}

{% block Scripts %}
<script src="/assets/js/events.js"></script>
{% endblock %}