{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/sass_out/landing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="starting-animation-bg">
    <div class="centered-fullscreen">
        <img src="/assets/img/landing/bl-logo-intro.png">
        <p>KNOCK TWICE FOR REVOLUTION</p>
    </div>
</div>
<div id="landing-carousel" style="background-color: #000000;height:100%">
</div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/landing.js"></script>
{% endblock %}