{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="landing">
    <section id="section1" style="background-color:#F9F9ED" class="full-height">
        <div style="width:100%;" class="quarter-height">
        </div>
        <div id="section1-carousel" style="width:100%;" class="carousel slide three-quarter-height">
            <ol class="carousel-indicators">
                <li data-target="#section1-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#section1-carousel" data-slide-to="1"></li>
                <li data-target="#section1-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" style="height:100%">
                <div class="item active" style="text-align:center;height:100%;">
                    <div class="row section1-message" style="height:71%">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                    <div class="row section1-image" style="height:29%">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6" style="height:100%">
                            <img class="section1-img" style="max-width:100%;" src="/assets/img/landing/sofa.png">
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
                <div class="item" style="text-align:center;height:100%;">
                    <div class="row section1-message" style="height:71%">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                    <div class="row section1-image" style="height:29%">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6" style="height:100%">
                            <img class="section1-img" style="max-width:100%;" src="/assets/img/landing/sofa.png">
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
                <div class="item" style="text-align:center;height:100%;">
                    <div class="row section1-message" style="height:71%">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                    <div class="row section1-image" style="height:29%">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6" style="height:100%">
                            <img class="section1-img" style="max-width:100%;" src="/assets/img/landing/sofa.png">
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#section1-carousel" data-slide="prev" style="background-image:none">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#section1-carousel" data-slide="next" style="background-image:none">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </section>
    <section id="section2" style="background: url('/assets/img/landing/pattern-about.png') repeat">
        <div class="quarter-height" style="width:100%;">
            <div class="col-xs-12">
            </div>
        </div>
        <div class="half-height" style="width:100%;">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8" data-stellar-background-ratio="5">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10">
                    <p class="section2_text">
                        Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.
                        Come in, sit, have some tea & hang with the smartest, most interesting people in town. People like you.
                    </p>
                    <br>
                    <br>
                    <p class="section2_text">
                        At The Beagles Loft, we believe in three things:
                    </p>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
        <div class="quarter-height" style="width:100%;">
            <div class="col-xs-12">
            </div>
        </div>
    </section>
    <section id="section3" class="full-height">
        <div id="section3a" class="col-xs-6 full-height" style="background-color:#1A1A1A;">
            <div class="quarter-height"></div>
            <div class="half-height">
                <div class="col-xs-7"></div>
                <div class="col-xs-4" style="text-align:center">
                    <p class="section3_heading">
                        YEARN, DON'T BURN
                    </p>
                    <p>
                        <img src="/assets/img/landing/cyan-dots.png">
                    </p>
                    <p class="section_text" style="color:#606060">
                        Be a dreamer, be a fixer, be an inventor flying kites in the storm. Fail as much as you can handle, but complain and do nothing and you’ll find yourself locked out.
                    </p>
                </div>
                <div class="col-xs-1"></div>
            </div>
            <div class="quarter-height"></div>
        </div>
        <div id="section3b" class="col-xs-6 full-height" style="background-color:#36D4C0;">
            <div class="quarter-height"></div>
            <div class="half-height"><img style="height:100%;max-width:100%" src="/assets/img/landing/section4.png"></div>
            <div class="quarter-height"></div>
        </div>
    </section>
    <section id="section4" class="full-height">
        <div id="section4a" class="col-xs-6 full-height" style="background-color:#FFC541;">
            <div class="quarter-height"></div>
            <div class="half-height"><img class="pull-right" style="height:100%;max-width:100%" src="/assets/img/landing/section5.png"></div>
            <div class="quarter-height"></div>
        </div>
        <div id="section4b" class="col-xs-6 full-height" style="background-color:#1A1A1A;">
            <div class="quarter-height"></div>
            <div class="half-height">
                <div class="col-xs-1"></div>
                <div class="col-xs-4" style="text-align:center">
                    <p class="section3_heading">
                        MAKE A BIG IMPACT
                    </p>
                    <p>
                        <img src="/assets/img/landing/yellow-dots.png">
                    </p>
                    <p class="section_text" style="color:#606060">
                        The world is too big not to do big things. We want you to work on things that impact a billion people. Knock on our front door with a purpose or don’t expect the doorman to let you in.
                    </p>
                </div>
                <div class="col-xs-7"></div>
            </div>
            <div class="quarter-height"></div>
        </div>
    </section>
    <section id="section5" class="full-height">
        <div id="section5a" class="full-height col-xs-6" style="width:50%;background-color:#1A1A1A;">
            <div class="quarter-height"></div>
            <div class="half-height">
                <div class="col-xs-7"></div>
                <div class="col-xs-4" style="text-align:center">
                    <p class="section3_heading">
                        FOCUS, NO HOCUS POCUS
                    </p>
                    <p>
                        <img src="/assets/img/landing/red-dots.png">
                    </p>
                    <p class="section_text" style="color:#606060">
                        Whether it’s access to venture capitalists, coders who can actually code, strong coffee, or event space, everything you need to work on your big idea is available and free.
                    </p>
                </div>
                <div class="col-xs-1"></div>
            </div>
            <div class="quarter-height"></div>
        </div>
        <div id="section5b" class="full-height col-xs-6" style="width:50%;background-color:#CC4445;">
            <div class="quarter-height"></div>
            <div class="half-height"><img style="height:100%;max-width:100%" src="/assets/img/landing/section3.png"></div>
            <div class="quarter-height"></div>
        </div>
    </section>
    <section id="section6" style="background: url('/assets/img/landing/pattern-whybeagles.png') repeat">
        <div class="row" style="width:100%;">
            <div class="col-xs-6 full-height" data-stellar-background-ratio="5">
                <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-5">
                        <div class="row section6a-top"></div>
                        <div class="row quarter-height">
                            <p class="section6_left_text" style="text-align:right">
                                WE'RE NOT AN ACCELERATOR, AN
                                INCUBATOR, OR A COWORKING SPACE;
                                WE'RE A PLAYGROUND FOR
                                INNOVATORS AND ARTISTS. LOFT
                                MEMBERS ARE HERE TO ACCELERATE
                                PROGRESS, MAKE BEAUTIFUL THINGS
                                AND DEVELOP BIG IDEAS.
                            </p>
                        </div>
                        <div class="row section6a-bottom"></div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
            <div class="col-xs-6 full-height" data-stellar-background-ratio="5">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row section6b-top"></div>
                        <div class="row section6b-middle" style="background: url('/assets/img/landing/border-whybeaglesloft.png') no-repeat left top;background-size: 100% 100%">
                            <div class="col-sm-12">
                                <div class="row section6b-middle-top"></div>
                                <div class="row section6b-middle-middle">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-10" style="text-align:center">
                                        <p class="section6_right_heading">
                                            Why Beagles Loft?
                                        </p>
                                        <p>
                                            <img src="/assets/img/landing/dark-green-dots.png">
                                        </p>
                                        <p class="section6_right_text">
                                            The name is inspired by an old basketball playground in
                                            Bangalore. In this playground, we built friendships that
                                            have lasted the length of our current lives, we discussed
                                            how we'd disrupt the status quo and we tinkered with
                                            technology and music. We often underestimate the value
                                            of these playgrounds in our lives, but these little
                                            playgrounds offer the three key tools that are sufficient
                                            to work on the really big ideas that can push life forward
                                            - community, disruptive ideas and a framework for
                                            tinkering.
                                        </p>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <div class="row section6b-middle-bottom"></div>
                            </div>
                        </div>
                        <div class="row section6b-bottom"></div>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="section7" style="background: url('/assets/img/landing/pattern-programs.png') repeat">
        <div class="full-height" style="width:100%;">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="row one-sixth-height"></div>
                <div class="row three-quarter-height" style="background: url('/assets/img/landing/border-programs.png') no-repeat left top;background-size: 100% 100%">
                    <div class="row program-top"></div>
                    <div class="row program-middle">
                        <div class="row program-time">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                                <div class="col-xs-4">
                                    <p>7:00 pm</p>
                                </div>
                                <div class="col-xs-4">
                                    <p>7:00 pm</p>
                                </div>
                                <div class="col-xs-4">
                                    <p>7:00 pm</p>
                                </div>
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                        <div class="row program-heading">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                                <div class="col-xs-4">
                                    <a href="/events?type=VentureWednesdays"><p>VENTURE<br>WEDNESDAYS</p></a>
                                    <!--<a target="_blank" href="http://aiyappabeagles.wordpress.com"><p>VENTURE<br>WEDNESDAYS</p></a>-->
                                </div>
                                <div class="col-xs-4">
                                    <a href="/events?type=ReDesign"><p>RE:<br>DESIGN</p></a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="/events?type=TechBuilders"><p>TECH<br>BUILDERS</p></a>
                                </div>
                            </div>
                            <div class="col-xs-1"></div>

                        </div>
                        <div class="row program-desc">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                                <div class="col-xs-4">
                                    <p>Venture Wednesdays gives the Beagles startup community access to top VCs from India and the United States. Here you'll be able to ask questions and learn the tricks of the trade as you build your startup.</p>
                                </div>
                                <div class="col-xs-4">
                                    <p>There's no reason why design and art should take a backseat to development. With design courses at the Beagles Loft, build your portfolio, get help with your startup's look and feel, and learn from the best in Bangalore and abroad.</p>
                                </div>
                                <div class="col-xs-4">
                                    <p>Solving big problems is best when we work together. We'll export parts of emerging technology, from Big Data to gestures, hack the system and build a database of useful information that Loft members can access and improve.</p>
                                    <!--<a href="https://www.eventbrite.com/e/teventst-tickets-9392662707?ref=elink" target="_blank" style="color:#702b70">Text for link</a>-->
                                </div>
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                    </div>
                    <div class="row program-bottom"></div>
                </div>
                <div class="row one-twelfth-height"></div>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </section>
    <section id="section8" style="background: url('/assets/img/landing/pattern-people.png') repeat">
        <div class="full-height" style="width:100%;">
            <div class="col-xs-2">
                <input type="hidden" name="member_keys" id="member_keys"
									value="{% for key, value in member_keys.items %}{% for k, v in value.items %}{{k}}{% if forloop.counter != value|length %},{% endif %}{% endfor %}{% if forloop.counter != member_keys|length %},{% endif %}{% endfor %}">
            </div>
            <div class="col-xs-8">
                <div class="people-margin-top"></div>
                <div class="people-container" style="background: url('/assets/img/landing/border-people.png') no-repeat left top;background-size: 100% 100%">
                    <div id="people-grid">
                        <div class="row people-top"></div>
                        <div class="people-middle">
                            <div id="people-carousel" style="width:100%;height:100%" class="carousel slide" data-interval="false">
                                <div class="carousel-inner" style="height:100%">
                                    {% for key, value in member_keys.items %}
                                        <div class="item {% if forloop.first %}active{% endif %}" style="text-align:center;height:100%">
                                            {% for k, v in value.items %}
                                                {% if forloop.first or forloop.counter == 6 %}
                                                    <div class="row" style="height:50%">
                                                        <div class="col-xs-1" style="height:100%">
                                                        </div>
                                                {% endif %}
                                                        <div class="col-xs-2" style="height:100%">
                                                            <div class="people-picture" style="background: url('{% if v %} https://graph.facebook.com/{{v}}/picture?type=normal {% else %} /assets/img/landing/default-user.gif {% endif %}') no-repeat center;" onclick="showMemberInfo($(this).parent().find('input').val())"></div>
                                                            <input type="hidden" value="{{k}}">
                                                        </div>
                                                {% if forloop.counter == 5 or forloop.last %}
                                                        <div class="col-xs-1" style="height:100%">
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="left carousel-control" href="#people-carousel" data-slide="prev" style="background-image:none">
                                    <span style="position: absolute;top: 48%;z-index: 5;display: inline-block;left: 5%;"><img src="/assets/img/landing/people-left-arrow.png"></span>
                                </a>
                                <a class="right carousel-control" href="#people-carousel" data-slide="next" style="background-image:none">
                                    <span style="position: absolute;top: 48%;z-index: 5;display: inline-block;right: 5%;"><img src="/assets/img/landing/people-right-arrow.png"></span>
                                </a>
                                <!--<ol class="carousel-indicators">-->
                                    <!--<li data-target="#people-carousel" data-slide-to="0" class="active"></li>-->
                                    <!--<li data-target="#people-carousel" data-slide-to="1"></li>-->
                                    <!--<li data-target="#people-carousel" data-slide-to="2"></li>-->
                                <!--</ol>-->
                            </div>
                        </div>
                        <div class="row people-bottom"></div>
                    </div>
                    <div id="people-detail" style="max-height:100%;display:none">
                        <div class="people-detail-1" style="text-align:center">
                            <div class="people-detail-1-top"></div>
                            <div class="people-detail-1-bottom">
                                <button class="back-to-grid-button" onclick="showMemberGrid()">BACK TO GRID</button>
                            </div>
                        </div>
                        <div class="people-detail-2">
                            <div class="col-xs-1" style="height:100%"></div>
                            <div class="col-xs-4" style="height:100%">
                                <div class="people-designation" style="height:25%"><p id="designation"></p></div>
                                <div class="people-name" style="height:75%"><p id="name"></p></div>
                            </div>
                            <div class="col-xs-6" style="height:100%">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4 people-website"><p id="website"></p></div>
                                <div class="col-xs-4 people-twitter-handle"><p id="twitter_handle"></p></div>
                            </div>
                            <div class="col-xs-1" style="height:100%"></div>
                        </div>
                        <div class="people-detail-3" style="position:relative">
                            <span style="position: absolute;top: 30%;z-index: 5;display: inline-block;left: 0.7%;cursor:pointer" onclick="showPreviousMemberInfo()"><img src="/assets/img/landing/people-left-arrow.png"></span>
                            <div class="col-xs-1"></div>
                            <div class="col-xs-4">
                                <img id="picture" style="max-height:100%;max-width:100%;height:100%;width:100%" src="/assets/img/landing/default-user.gif">
                            </div>
                            <div class="col-xs-6">
                                <div class="people-desc row">
                                    <div class="col-xs-12">
                                        <p id="bio"></p>
                                    </div>
                                </div>
                                <div class="people-desc-gap"></div>
                                <div class="people-scores">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="people-score-name">INFLUENCE</div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="people-score-value progress" style="vertical-align:middle">
                                                <div class="progress-bar" id="influence" style="width: 80%;height:100%">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="people-score-name">ACTIVITY</div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="people-score-value progress">
                                                <div class="progress-bar" id="activity" style="width: 75%;height:100%">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="people-score-name">PROFICIENCY</div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="people-score-value progress">
                                                <div class="progress-bar" id="proficiency" style="width: 90%;height:100%">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1"></div>
                            <span style="position: absolute;top: 30%;z-index: 5;display: inline-block;right: 0.7%;cursor:pointer" onclick="showNextMemberInfo()"><img src="/assets/img/landing/people-right-arrow.png"></span>
                        </div>
                        <div class="people-detail-4"></div>
                    </div>
                </div>
                <div class="people-margin-bottom"></div>
            </div>
            <div class="col-xs-2">
            </div>
        </div>

    </section>
    <section id="section9" style="background: url('/assets/img/landing/pattern-buzz.png') repeat">
        <div class="full-height" style="width:100%;">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="row one-sixth-height"></div>
                <div class="row three-quarter-height" style="background: url('/assets/img/landing/border-buzz.png') no-repeat left top;background-size: 100% 100%">
                    <div class="row program-top"></div>
                    <div class="program-middle" style="vertical-align:middle">
                        <div id="buzz-carousel" style="width:100%;height:100%" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="item active" style="text-align:center">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-8">
                                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                                            <br>
                                            <p class="section_text">
                                                Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.<br>
                                                Come in, sit, have some tea & hand with the smartest, most interesting people in town. People like you.
                                            </p>
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                                <div class="item" style="text-align:center">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-8">
                                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                                            <br>
                                            <p class="section_text">
                                                Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.<br>
                                                Come in, sit, have some tea & hand with the smartest, most interesting people in town. People like you.
                                            </p>
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                                <div class="item" style="text-align:center">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-8">
                                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                                            <br>
                                            <p class="section_text">
                                                Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.<br>
                                                Come in, sit, have some tea & hand with the smartest, most interesting people in town. People like you.
                                            </p>
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#buzz-carousel" data-slide="prev" style="background-image:none">
                                <span style="position: absolute;top: 50%;z-index: 5;display: inline-block;left: 5%;"><img src="/assets/img/landing/buzz-left-arrow.png"></span>
                            </a>
                            <a class="right carousel-control" href="#buzz-carousel" data-slide="next" style="background-image:none">
                                <span style="position: absolute;top: 50%;z-index: 5;display: inline-block;right: 5%;"><img src="/assets/img/landing/buzz-right-arrow.png"></span>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#buzz-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#buzz-carousel" data-slide-to="1"></li>
                                <li data-target="#buzz-carousel" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                    <div class="row program-bottom"></div>
                </div>
                <div class="row one-twelfth-height"></div>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </section>
    <section id="section10" style="background: url('/assets/img/landing/pattern-contact.png') repeat">
        <div class="full-height" style="width:100%;">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="row one-sixth-height"></div>
                <div class="three-quarter-height" style="background: url('/assets/img/landing/border-contact.png') no-repeat left top;background-size: 100% 100%">
                    <form name="contact-form" action="/accept_contact" method="POST">
                        <div class="contact-top"></div>
                        <div class="contact-middle">
                            <div class="col-xs-6" style="text-align:right;font-family:'Oswald', sans-serif;font-weight:100;">
                                <p>If we've piqued your curiosity and you can't wait to know more, we welcome you to get in touch.</p>
                            </div>
                            <div class="col-xs-1"></div>
                            <div class="col-xs-5" style="height:100%">
                                <p><input style="width:90%;background-color:transparent;border: black solid;" id="contact-name" name="contact_name" type="text" placeholder="Name"></p>
                                <p><input style="width:90%;background-color:transparent;border: black solid;" id="contact-email" name="contact_email" type="text" placeholder="Email Address"></p>
                                <p style="height:50%"><textarea style="width:90%;height:100%;background-color:transparent;border: black solid;" id="contact-message" name="contact_message" placeholder="Your Message"></textarea></p>
                            </div>
                        </div>
                        <div class="contact-bottom" style="text-align:center">
                            <input type="submit" value="SUBMIT" style="border:white solid;background-color:rgba(255,255,255,0.5);color:white;width:50%">
                        </div>
                    </form>
                </div>
                <div class="row one-twelfth-height"></div>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/landing.js"></script>
<script src="/assets/js/lib/jquery.smooth-scroll.min.js"></script>
{% endblock %}