{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="landing">
    <section id="section1" style="background: url('/assets/img/landing/sofa.png') no-repeat center">
        <div style="width:100%;background-color:#F9F9ED" class="quarter-height">
        </div>
        <div id="section1-carousel" style="width:100%;" class="carousel slide three-quarter-height">
            <ol class="carousel-indicators">
                <li data-target="#section1-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#section1-carousel" data-slide-to="1"></li>
                <li data-target="#section1-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="text-align:center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                            <br>
                            <p class="section_text">
                                Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.<br>
                                Come in, sit, have some tea & hand with the smartest, most interesting people in town. People like you.
                            </p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="item" style="text-align:center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                            <br>
                            <p class="section_text">
                                Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.<br>
                                Come in, sit, have some tea & hand with the smartest, most interesting people in town. People like you.
                            </p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="item" style="text-align:center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                            <br>
                            <p class="section_text">
                                Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.<br>
                                Come in, sit, have some tea & hand with the smartest, most interesting people in town. People like you.
                            </p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#section1-carousel" data-slide="prev" style="background-image:none">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#section1-carousel" data-slide="next" style="background-image:none">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </section>
    <section id="section2" style="display:none">
        <div class="quarter-height" style="width:100%;background-color:#B9B6B1">
            <div class="col-md-12">
            </div>
        </div>
        <div class="half-height" style="width:100%;background-color:#B9B6B1">
            <div class="col-md-5">
            </div>
            <div class="col-md-2" data-stellar-background-ratio="5">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <p class="section2_text" style="text-align:center">
                            At The Beagles Loft, we believe in three things:
                        </p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
        <div class="quarter-height" style="width:100%;background-color:#B9B6B1">
            <div class="col-md-12">
            </div>
        </div>
    </section>
    <div id="section3" style="display:none;position:relative">
        <div class="row" style="width:100%;">
            <div id="section3a" class="all-the-way-up" style="display:none;width:50%;background-color:#1A1A1A;left:0px;position:absolute">
                <div class="quarter-height"></div>
                <div class="half-height">
                    <div class="col-md-7"></div>
                    <div class="col-md-4" style="text-align:center">
                        <p class="section3_heading">
                            FREE IS FREEDOM
                        </p>
                        <p>
                            <img src="/assets/img/landing/red-dots.png">
                        </p>
                        <p class="section_text" style="color:#606060">
                            Whether it's strong coffee or helpful information,
                            everything you need should be free. At the Loft,
                            you're welcome to roam, ask questions, and grow as a
                            person or a business.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="quarter-height"></div>
            </div>
            <div id="section3b" class="all-the-way-down half-way-across" style="display:none;width:50%;background-color:#CC4445;position:absolute">
                <div class="quarter-height"></div>
                <div class="half-height"><img src="/assets/img/landing/section3.png"></div>
                <div class="quarter-height"></div>
            </div>
            <div id="section4a" class="all-the-way-down" style="display:none;width:50%;background-color:#36D4C0;left:0px;position:absolute">
                <div class="quarter-height"></div>
                <div class="half-height"><img class="pull-right" src="/assets/img/landing/section4.png"></div>
                <div class="quarter-height"></div>
            </div>
            <div id="section4b" class="all-the-way-up half-way-across" style="display:none;width:50%;background-color:#1A1A1A;position:absolute">
                <div class="quarter-height"></div>
                <div class="half-height">
                    <div class="col-md-1"></div>
                    <div class="col-md-4" style="text-align:center">
                        <p class="section3_heading">
                            LIFE IS FAIR
                        </p>
                        <p>
                            <img src="/assets/img/landing/cyan-dots.png">
                        </p>
                        <p class="section_text" style="color:#606060">
                            Smart people should have
                            access to the people, ideas,
                            and stuff they need to be
                            successful. The internet can
                            make everyone happy. Even
                            driving to work should take
                            minutes, not hours.
                        </p>
                    </div>
                    <div class="col-md-7"></div>
                </div>
                <div class="quarter-height"></div>
            </div>
            <div id="section5a" class="all-the-way-up" style="display:none;width:50%;background-color:#1A1A1A;left:0px;position:absolute">
                <div class="quarter-height"></div>
                <div class="half-height">
                    <div class="col-md-7"></div>
                    <div class="col-md-4" style="text-align:center">
                        <p class="section3_heading">
                            HAVE BIG SOCIAL IMPACT OR NOTHING
                        </p>
                        <p>
                            <img src="/assets/img/landing/yellow-dots.png">
                        </p>
                        <p class="section_text" style="color:#606060">
                            The world is too big not to
                            do big things. Knock on our
                            front door with a purpose or
                            don't expect the doorman to
                            let you in.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="quarter-height"></div>
            </div>
            <div id="section5b" class="all-the-way-down half-way-across" style="display:none;width:50%;background-color:#FFC541;position:absolute">
                <div class="quarter-height"></div>
                <div class="half-height"><img src="/assets/img/landing/section5.png"></div>
                <div class="quarter-height"></div>
            </div>
        </div>
    </div>
    <section id="section6" style="display:none;background: url('/assets/img/landing/pattern-whybeagles.png') repeat">
        <div class="row" style="width:100%;">
            <div class="col-md-6" data-stellar-background-ratio="5">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-5">
                        <div class="row section6a-top"></div>
                        <div class="row quarter-height">
                            <p class="section6_left_text" style="text-align:right">
                                WE'RE NOT AN ACCELERATOR, AN
                                INCUBATOR, OR A COWORKING SPACE;
                                WE'RE A PLAYGROUND FOR
                                INNOVATORS AND ARTISTS. LOFT
                                MEMBERS ARE HERE TO ACCELERATE
                                PROGRESS, MAKE BEAUTIFUL THINGS
                                AND DEVELOP BIG IDEAS.
                            </p>
                        </div>
                        <div class="row section6a-bottom"></div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="col-md-6" data-stellar-background-ratio="5">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row section6b-top"></div>
                        <div class="row section6b-middle" style="background: url('/assets/img/landing/border-whybeaglesloft.png') no-repeat left top;background-size: 100% 100%">
                            <div class="col-md-12">
                                <div class="row section6b-middle-top"></div>
                                <div class="row section6b-middle-middle">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10" style="text-align:center">
                                        <p class="section6_right_heading">
                                            Why Beagles Loft?
                                        </p>
                                        <p>
                                            <img src="/assets/img/landing/dark-green-dots.png">
                                        </p>
                                        <p class="section6_right_text">
                                            The name is inspired by an old basketball playground in
                                            Bangalore. In this playground, we built friendships that
                                            have lasted the length of our current lives, we discussed
                                            how we'd disrupt the status quo and we tinkered with
                                            technology and music. We often underestimate the value
                                            of these playgrounds in our lives, but these little
                                            playgrounds offer the three key tools that are sufficient
                                            to work on the really big ideas that can push life forward
                                            - community, disruptive ideas and a framework for
                                            tinkering.
                                        </p>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row section6b-middle-bottom"></div>
                            </div>
                        </div>
                        <div class="row section6b-bottom"></div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="section7" style="display:none;background: url('/assets/img/landing/pattern-programs.png') repeat">
        <div class="full-height" style="width:100%;">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="row one-sixth-height"></div>
                <div class="row three-quarter-height" style="background: url('/assets/img/landing/border-programs.png') no-repeat left top;background-size: 100% 100%">
                    <div class="row program-top"></div>
                    <div class="row program-middle">
                        <div class="row program-time">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="col-md-4">
                                    <p>7:00 pm</p>
                                </div>
                                <div class="col-md-4">
                                    <p>7:00 pm</p>
                                </div>
                                <div class="col-md-4">
                                    <p>7:00 pm</p>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row program-heading">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="col-md-4">
                                    <p>VENTURE<br>WEDNESDAYS</p>
                                </div>
                                <div class="col-md-4">
                                    <p>RE:<br>DESIGN</p>
                                </div>
                                <div class="col-md-4">
                                    <p>TECH<br>BUILDERS</p>
                                </div>
                            </div>
                            <div class="col-md-1"></div>

                        </div>
                        <div class="row program-desc">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="col-md-4">
                                    <p>Venture Wednesdays gives the Beagles startup community access to top VCs from India and the United States. Here you'll be able to ask questions and learn the tricks of the trade as you build your startup.</p>
                                </div>
                                <div class="col-md-4">
                                    <p>There's no reason why design and art should take a backseat to development. With design courses at the Beagles Loft, build your portfolio, get help with your startup's look and feel, and learn from the best in Bangalore and abroad.</p>
                                </div>
                                <div class="col-md-4">
                                    <p>Solving big problems is best when we work together. We'll export parts of emerging technology, from Big Data to gestures, hack the system and build a database of useful information that Loft members can access and improve.</p>
                                    <!--<a href="https://www.eventbrite.com/e/teventst-tickets-9392662707?ref=elink" target="_blank" style="color:#702b70">Text for link</a>-->
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <div class="row program-bottom"></div>
                </div>
                <div class="row one-twelfth-height"></div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </section>
    <section id="section8" style="display:none;background: url('/assets/img/landing/pattern-people.png') repeat">
        <div class="full-height" style="width:100%;">
            <div class="col-md-2">
                <input type="hidden" name="member_keys" id="member_keys"
									value="{% for key, value in member_keys.items %}{{key}}{% if forloop.counter != member_keys|length %},{% endif %}{% endfor %}">
            </div>
            <div class="col-md-8">
                <div class="row one-sixth-height"></div>
                <div class="row three-quarter-height" style="background: url('/assets/img/landing/border-people.png') no-repeat left top;background-size: 100% 100%">
                    <div id="people-grid">
                        <div class="row program-top"></div>
                        <div class="program-middle">
                            <div id="people-carousel" style="width:100%;height:100%" class="carousel slide">
                                <div class="carousel-inner" style="height:100%">
                                    <div class="item active" style="text-align:center;height:100%">
                                        <div class="row" style="height:100%">
                                            <div class="col-md-1" style="height:100%">
                                            </div>
                                            {% for key, value in member_keys.items %}
                                                <div class="col-md-2" style="height:100%">
                                                    <div class="people-picture" style="background: url('https://graph.facebook.com/{{value}}/picture?type=normal') no-repeat center;" onclick="showMemberInfo($(this).parent().find('input').val())"></div>
                                                    <input type="hidden" value="{{key}}">
                                                </div>
                                            {% endfor %}
                                            <!--<div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>-->
                                            <div class="col-md-1" style="height:100%">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" style="text-align:center;height:100%">
                                        <div class="row" style="height:100%">
                                            <div class="col-md-1" style="height:100%">
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-1" style="height:100%">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" style="text-align:center;height:100%">
                                        <div class="row" style="height:100%">
                                            <div class="col-md-1" style="height:100%">
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-2" style="height:100%">
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                                <div class="people-picture"  data-toggle="modal" data-target="#people-description"></div>
                                            </div>
                                            <div class="col-md-1" style="height:100%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#people-carousel" data-slide="prev" style="background-image:none">
                                    <span style="position: absolute;top: 42%;z-index: 5;display: inline-block;left: 5%;"><img src="/assets/img/landing/people-left-arrow.png"></span>
                                </a>
                                <a class="right carousel-control" href="#people-carousel" data-slide="next" style="background-image:none">
                                    <span style="position: absolute;top: 42%;z-index: 5;display: inline-block;right: 5%;"><img src="/assets/img/landing/people-right-arrow.png"></span>
                                </a>
                                <ol class="carousel-indicators">
                                    <li data-target="#people-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#people-carousel" data-slide-to="1"></li>
                                    <li data-target="#people-carousel" data-slide-to="2"></li>
                                </ol>
                            </div>
                            <div id="people-description" class="people-modal modal fade">
                                <div class="haggle-modal-dialog-header modal-header" style="background: url('/assets/img/landing/pattern-people.png') repeat;text-align:center">
                                    <label class="haggle-modal-dialog-header">
                                        DETAILS
                                    </label>
                                    <a class="pull-right close" onClick="clearHideVendorUserChartModal()" data-dismiss="modal" href="#user_standing">&times;</a>
                                </div>
                                <div class="haggle-modal-dialog-body haggle-gray-bg modal-body">
                                    <div class="row-fluid">
                                        <div class="span6" id="people-description-influence" style="min-height:100%;">
                                            2000 Facebook Friends, 1500 Twitter Followers
                                        </div>
                                        <div class="span6" id="people-description-history" style="min-height:100%;">
                                            Part of 30 high-profile social circles
                                        </div>
                                        <div class="span6" id="people-description-interest" style="min-height:100%;">
                                            Participated in 30 Beagles Loft events
                                        </div>
                                        <div class="span6" id="people-description-bio" style="min-height:100%;">
                                            Works with Haggle as The CEO
                                        </div>
                                    </div>
                                </div>
                                <div class="haggle-modal-dialog-body modal-footer" style="background: url('/assets/img/landing/pattern-people.png') repeat;text-align:center;margin-top:0px">
                                    <strong>RAJIV SALIMATH</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row program-bottom"></div>
                    </div>
                    <div id="people-detail" style="max-height:100%;display:none">
                        <div class="people-detail-1" style="text-align:center">
                            <div class="people-detail-1-top"></div>
                            <div class="people-detail-1-bottom">
                                <button style="height:30px;width:108px;font-size:12px;background-color:#cd4445;border:none" onclick="showMemberGrid()">BACK TO GRID</button>
                            </div>
                        </div>
                        <div class="people-detail-2">
                            <div class="col-md-1" style="height:100%"></div>
                            <div class="col-md-4" style="height:100%">
                                <div class="people-designation" style="height:25%"><p id="designation">FOUNDER, HAGGLE</p></div>
                                <div class="people-name" style="height:75%"><p id="name">RAJIV SALIMATH</p></div>
                            </div>
                            <div class="col-md-6" style="height:100%">
                                <div class="col-md-4"></div>
                                <div class="col-md-4 people-website"><p id="website">gethaggle.com</p></div>
                                <div class="col-md-4 people-twitter-handle"><p id="twitter_handle">@gethaggle</p></div>
                            </div>
                            <div class="col-md-1" style="height:100%"></div>
                        </div>
                        <div class="people-detail-3">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <img id="picture" style="max-height:100%;max-width:100%" src="https://graph.facebook.com/rajiv.salimath/picture?width=300&height=300">
                            </div>
                            <div class="col-md-6">
                                <div class="people-desc row">
                                    <div class="col-md-12">
                                        <p id="bio">This is about who this person is and what the person is upto. You can get details about what the person does, what his qualifications are and what are the person's unique abilities.</p>
                                    </div>
                                </div>
                                <div class="people-desc-gap"></div>
                                <div class="people-scores">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="people-score-name">INFLUENCE</div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="people-score-value progress" style="vertical-align:middle">
                                                <div class="progress-bar" id="influence" style="width: 80%;height:100%">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="people-score-name">ACTIVITY</div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="people-score-value progress">
                                                <div class="progress-bar" id="activity" style="width: 75%;height:100%">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="people-score-name">PROFICIENCY</div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="people-score-value progress">
                                                <div class="progress-bar" id="proficiency" style="width: 90%;height:100%">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="people-detail-4"></div>
                    </div>
                </div>
                <div class="row one-twelfth-height"></div>
            </div>
            <div class="col-md-2">
            </div>
        </div>

    </section>
    <section id="section9" style="display:none;background: url('/assets/img/landing/pattern-buzz.png') repeat">
        <div class="full-height" style="width:100%;">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="row one-sixth-height"></div>
                <div class="row three-quarter-height" style="background: url('/assets/img/landing/border-buzz.png') no-repeat left top;background-size: 100% 100%">
                    <div class="row program-top"></div>
                    <div class="program-middle" style="vertical-align:middle">
                        <div id="buzz-carousel" style="width:100%;height:100%" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="item active" style="text-align:center">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                                            <br>
                                            <p class="section_text">
                                                Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.<br>
                                                Come in, sit, have some tea & hand with the smartest, most interesting people in town. People like you.
                                            </p>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                                <div class="item" style="text-align:center">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                                            <br>
                                            <p class="section_text">
                                                Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.<br>
                                                Come in, sit, have some tea & hand with the smartest, most interesting people in town. People like you.
                                            </p>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                                <div class="item" style="text-align:center">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <p class="section1_heading">TRANSFORM THE WAY YOU WORK, LEARN & THRIVE.</p>
                                            <br>
                                            <p class="section_text">
                                                Welcome to The Beagles Loft, Bangalore's playground for startups, innovators, artists, and nerds in general.<br>
                                                Come in, sit, have some tea & hand with the smartest, most interesting people in town. People like you.
                                            </p>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#buzz-carousel" data-slide="prev" style="background-image:none">
                                <span style="position: absolute;top: 50%;z-index: 5;display: inline-block;left: 5%;"><img src="/assets/img/landing/buzz-left-arrow.png"></span>
                            </a>
                            <a class="right carousel-control" href="#buzz-carousel" data-slide="next" style="background-image:none">
                                <span style="position: absolute;top: 50%;z-index: 5;display: inline-block;right: 5%;"><img src="/assets/img/landing/buzz-right-arrow.png"></span>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#buzz-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#buzz-carousel" data-slide-to="1"></li>
                                <li data-target="#buzz-carousel" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                    <div class="row program-bottom"></div>
                </div>
                <div class="row one-twelfth-height"></div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </section>
    <section id="section10" style="display:none;background: url('/assets/img/landing/pattern-contact.png') repeat">
        <div class="full-height" style="width:100%;">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="row one-sixth-height"></div>
                <div class="three-quarter-height" style="background: url('/assets/img/landing/border-contact.png') no-repeat left top;background-size: 100% 100%">
                    <div class="contact-top"></div>
                    <div class="contact-middle">
                        <div class="col-md-6" style="text-align:right">
                            <p>Fusce lasinia, felis eget porttitor tincidunt, justo purus placerat augue, id vulputate neque mi iaculis velit. Nullam cursus tempus nisl, eu euismod turpis laoreet quis.</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5" style="height:100%">
                            <p><input style="width:90%;background-color:transparent;border: black solid;" id="contact-name" type="text" placeholder="Name"></p>
                            <p><input style="width:90%;background-color:transparent;border: black solid;" id="contact-email" type="text" placeholder="Email Address"></p>
                            <p style="min-height:50%"><textarea style="width:90%;background-color:transparent;border: black solid;" id="contact-message" placeholder="Your Message"></textarea></p>
                        </div>
                    </div>
                    <div class="contact-bottom" style="text-align:center">
                        <input type="submit" value="SUBMIT" style="border:white solid;background-color:rgba(255,255,255,0.5);color:white;width:50%">
                    </div>
                </div>
                <div class="row one-twelfth-height"></div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/landing.js"></script>
<script src="/assets/js/lib/stellar.js"></script>
<script src="/assets/js/lib/jquery.smooth-scroll.min.js"></script>
{% endblock %}