{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
<link href="/assets/css/manager.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div class="row centered-full-width-element landing-carousel-item" style="height:304px;background: url('/assets/img/landing/tracks.png') center center no-repeat;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        {% include "components/centered_content.html" with centered=page_title_centered %}
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="light-gray-background">
    <div class="width940 section-content">
        <div class="row">
            {% for donut in donuts %}
            <div class="col-sm-4" style="padding: 24px;">
                {% include "components/new_donut_chart.html" with donut=donut%}
                <p class="header-3 align-center">{{donut.title}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block Scripts %}
    {% include "components/new_donut_chart_script.html" %}
    <script src="/assets/js/desktop/desktop_base.js"></script>
{% endblock %}