{% extends "community_base.html" %}

{% block Styles %}
	<link href="/assets/css/sass_out/membership.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div class="hero row">
    <div class="col-sm-4 col-sm-offset-4">
        <p>MEMBERSHIPS</p>
    </div>
</div>
<div class="separator"></div>
<div class="width960">
    <div class="row">
        <div class="col-sm-12">
            <table class="table membership-table">
                {% for row in table_rows %}
                <tr>
                    <div class="row">
                        <div class="col-sm-4">
                            <td class="cell-large">{{ row.0 }}</td>
                        </div>
                        <div class="col-sm-4">
                            <td class={% if forloop.counter == 1 %}"cell-large"{% else %}"cell-small"{% endif %}>{{ row.1 }}</td>
                        </div>
                        <div class="col-sm-4">
                            <td class={% if forloop.counter == 1 %}"cell-large"{% else %}"cell-small"{% endif %}>{{ row.2 }}</td>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="separator"></div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="membership-signup">
                <div class="title">SIGN UP TO BE A MEMBER</div>
                <form id="membership-signup-form" class="form" action="/api/members/add_email" method="POST">
                    {% include "components/form_input.html" with id="signup-email" name="signup-email" type="email" placeholder="EMAIL" classes="email-box" %}
                    {% include "components/form_submit.html" with id="signup-submit" name="signup-submit" value="SIGN UP" classes="submit" %}
                </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<div class="separator"></div>
{% endblock %}
