{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/member_access.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="member-access" class="member-access">
    <div class="access-top-top"></div>
    <div class="access-top-bottom">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align:center">
            <p class="access-question">{{ question }}</p>
            <input type="hidden" value="{{ question_id }}" id="question-id" name="qid">
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="access-middle">
        <div class="col-md-3"></div>
        <div class="col-md-6 access-question-box-out">
            <div class="access-box-in">
                <textarea id="access-answer" name="access_answer" class="access access-answer"></textarea>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="access-bottom-top">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align:center;margin-top:3%;">
            <input type="submit" value="SUBMIT ANSWER" class="access-answer-submit" onclick="submitAccessAnswer()">
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="access-bottom-bottom"></div>
</div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/lib/stellar.js"></script>
<script src="/assets/js/lib/jquery.smooth-scroll.min.js"></script>
<script src="/assets/js/member_access.js"></script>
{% endblock %}