{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/member_access.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="member-access" class="member-access" style="height:100%;position:relative;text-align:center;">
    <input type="hidden" id="redirect-url" value="{{redirect_url}}">
    <img id="dark-gate" src="/assets/img/landing/dark-gate.png" class="bg">
    <img id="light-gate" src="/assets/img/landing/light-gate.png" class="bg" style="display:none">
    <div id="logo" style="position:absolute;top:5%;width:100%;">
        <img style="margin:auto;height:150px;width:150px;" src="/assets/img/landing/bl-logo-intro.png">
        <div style="margin:auto;height:30px;"></div>
        <p id="message" style="margin:auto;color:#515151;font-family: 'Oswald', sans-serif;font-weight: 300;font-size:17px;width:500px;text-align:center;">ENTER PASS CODE TO ACCESS</p>
        <div style="margin:auto;height:27px;"></div>
        <div id="access-code" style="margin:auto;height:171px;width:500px;background:url('/assets/img/landing/access/intro-blackbox.png') no-repeat;background-size: cover;">
            <input type="text" class="access-code-input" style="margin-left:100px;background:url('/assets/img/landing/access/1.png') no-repeat;" pattern="\d" maxlength="1" name="access-code-a">
            <input type="text" class="access-code-input" style="background:url('/assets/img/landing/access/2.png') no-repeat;" pattern="\d" maxlength="1" name="access-code-b">
            <input type="text" class="access-code-input" style="background:url('/assets/img/landing/access/3.png') no-repeat;" pattern="\d" maxlength="1" name="access-code-c">
            <input type="text" class="access-code-input" style="margin-right:100px;background:url('/assets/img/landing/access/4.png') no-repeat;" pattern="\d" maxlength="1" name="access-code-d">
        </div>
        <div id="question-pick" style="margin:auto;height:171px;width:500px;background:url('/assets/img/landing/access/intro-blackbox.png') no-repeat;background-size: cover;display:none">
            <div class="dropdown questions-dropdown" style="width:380px;height:66px;float:left;margin-top:53px;margin-left:60px;padding-top:24px;">
                <a data-toggle="dropdown" href="#" style="min-width:60%;height:20px;float:left;">PLEASE CHOOSE A CATEGORY</a>
                <a data-toggle="dropdown" href="#" style="min-width:10%;height:20px;float:right;"><span><img src="/assets/img/landing/access/down-arrow.png"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="min-width: 100%; max-width: 100%;top: 100%;cursor:pointer;">
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="showAccessQuestion('Mathematics')">Mathematics</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="showAccessQuestion('Science')">Science</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="showAccessQuestion('Business')">Business</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="showAccessQuestion('Art')">Art & Creative</a></li>
                </ul>
            </div>
        </div>
        <div id="access-answer" style="margin:auto;height:291px;width:502px;background:url('/assets/img/landing/access/intro-blackbox.png') no-repeat;background-size: cover;display:none;">
            <div style="height:21px;"></div>
            <div style="height:182px;margin-left:20px;margin-right:20px;">
                <input type="hidden" value="O1" id="question-id" name="qid">
                <textarea id="access-answer-text" name="access_answer" class="access access-answer" tabindex="1" style="height:100%;width:100%;background:url('/assets/img/landing/access/answer-box.png') no-repeat;background-size: cover;"></textarea>
            </div>
            <div style="height:15px;"></div>
            <div style="height:55px;background:url('/assets/img/landing/access/submit-button.png') no-repeat;margin-left:20px;margin-right:20px;color:#ffffff;font-family: 'Oswald', sans-serif;font-weight: 300;font-size:17px;padding-top:18px;line-height:17px;cursor:pointer;" onclick="submitAccessAnswer()">SUBMIT ANSWER</div>
            <div style="height:18px;"></div>
        </div>
        <div id="login-dialog" style="margin:auto;height:171px;width:500px;background:url('/assets/img/landing/access/intro-blackbox.png') no-repeat;background-size: cover;display:none">
            <form action="/members/login?redirect_url={{ redirect_url }}" method="POST">
                <div>
                    <div class="form-field">
                        <input class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-field">
                        <input class="form-control" id="password" name="password" type="password" placeholder="Password">
                    </div>
                    <div>
                        <button class="btn-block btn-primary" type="submit">Sign In</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="margin:auto;height:25px;"></div>
        <p id="message-bottom" style="margin:auto;color:#515151;font-family: 'Oswald', sans-serif;font-weight: 300;font-size:17px;width:190px;cursor:pointer;" onclick="showQuestionPick()">DON'T HAVE A CODE? <a style="color:#c62530;text-decoration:none;">GET ONE</a></p>
        <br>
        <p id="message-login" style="margin:auto;color:#515151;font-family: 'Oswald', sans-serif;font-weight: 300;font-size:17px;width:190px;cursor:pointer;" onclick="showLoginDialog()">ALREADY MEMBER <a style="color:#c62530;text-decoration:none;">LOGIN</a></p>
    </div>
    <!--<div id="member-access-contents">-->
        <!--<div class="access-top-top"></div>-->
        <!--<div class="access-top-bottom">-->
            <!--<div class="col-md-3"></div>-->
            <!--<div class="col-md-6" style="text-align:center">-->
                <!--<p id="access-question" class="access-question"></p>-->
                <!--<input type="hidden" value="O1" id="question-id" name="qid">-->
            <!--</div>-->
            <!--<div class="col-md-3"></div>-->
        <!--</div>-->
        <!--<div class="access-middle">-->
            <!--<div class="col-md-3"></div>-->
            <!--<div id="access-box" class="col-md-6 access-box-out">-->
                <!--<div class="access-box-in">-->
                    <!--<div id="access-selection" class="access">-->
                        <!--<p style="padding-top:9%"><u class="access-option" style="color:white;padding-right:1em;" onclick="showPasscodeEntry()">ENTER PASSCODE</u> OR <u class="access-option" style="color:white;padding-left:1em;" onclick="showQuestionPick()">SOLVE CHALLENGE</u></p>-->
                    <!--</div>-->
                    <!--<div id="code-entry" style="background-color:white;height:100%;width:100%;text-align:center;position:absolute;display:none">-->
                        <!--<input type="text" style="margin:3%;width:10%;height:75%;box-shadow:0px 0px 10px 0px;text-align:center" pattern="\d" maxlength="1" name="access-code-a">-->
                        <!--<input type="text" style="margin:3%;width:10%;height:75%;box-shadow:0px 0px 10px 0px;text-align:center" pattern="\d" maxlength="1" name="access-code-b">-->
                        <!--<input type="text" style="margin:3%;width:10%;height:75%;box-shadow:0px 0px 10px 0px;text-align:center" pattern="\d" maxlength="1" name="access-code-c">-->
                        <!--<input type="text" style="margin:3%;width:10%;height:75%;box-shadow:0px 0px 10px 0px;text-align:center" pattern="\d" maxlength="1" name="access-code-d">-->
                    <!--</div>-->
                    <!--<div id="question-pick" style="background-color:#cecece;height:100%;width:100%;text-align:center;position:absolute;display:none">-->
                        <!--<div class="dropdown questions-dropdown">-->
                            <!--<a data-toggle="dropdown" href="#">PLEASE CHOOSE A CATEGORY <span class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="min-width: 100%; max-width: 100%;top: 100%;cursor:pointer;">-->
                                <!--<li role="presentation"><a role="menuitem" tabindex="-1" onclick="showAccessQuestion('Mathematics')">Mathematics</a></li>-->
                                <!--<li role="presentation"><a role="menuitem" tabindex="-1" onclick="showAccessQuestion('Science')">Science</a></li>-->
                                <!--<li role="presentation"><a role="menuitem" tabindex="-1" onclick="showAccessQuestion('Business')">Business</a></li>-->
                                <!--<li role="presentation"><a role="menuitem" tabindex="-1" onclick="showAccessQuestion('Art')">Art & Creative</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<textarea id="access-answer" name="access_answer" class="access access-answer" tabindex="1" style="display:none;"></textarea>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3"></div>-->
        <!--</div>-->
        <!--<div class="access-bottom-top">-->
            <!--<div class="col-md-3"></div>-->
            <!--<div class="col-md-6" style="text-align:center;margin-top:3%;">-->
                <!--<input id="submit-answer" style="display:none;" type="submit" value="SUBMIT ANSWER" class="access-answer-submit" onclick="submitAccessAnswer()">-->
            <!--</div>-->
            <!--<div class="col-md-3"></div>-->
        <!--</div>-->
        <!--<div class="access-bottom-bottom"></div>-->
    <!--</div>-->
</div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/lib/stellar.js"></script>
<script src="/assets/js/lib/jquery.smooth-scroll.min.js"></script>
<script src="/assets/js/member_access.js"></script>
{% endblock %}