{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/member_access.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="member-access" class="member-access">
    <div id="member-access-contents">
        <div class="access-top-top"></div>
        <div class="access-top-bottom">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center">
                <p id="access-question" class="access-question"></p>
                <input type="hidden" value="O1" id="question-id" name="qid">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="access-middle">
            <div class="col-md-3"></div>
            <div id="access-box" class="col-md-6 access-box-out">
                <div class="access-box-in">
                    <div id="access-selection" class="access">
                        <p style="padding-top:9%"><u class="access-option" style="color:white;padding-right:1em;" onclick="showPasscodeEntry()">ENTER PASSCODE</u> OR <u class="access-option" style="color:white;padding-left:1em;" onclick="showQuestionPick()">SOLVE CHALLENGE</u></p>
                    </div>
                    <div id="code-entry" style="background-color:white;height:100%;width:100%;text-align:center;position:absolute;display:none">
                        <input type="text" style="margin:3%;width:10%;height:75%;box-shadow:0px 0px 10px 0px;text-align:center" pattern="\d" maxlength="1" name="access-code-a">
                        <input type="text" style="margin:3%;width:10%;height:75%;box-shadow:0px 0px 10px 0px;text-align:center" pattern="\d" maxlength="1" name="access-code-b">
                        <input type="text" style="margin:3%;width:10%;height:75%;box-shadow:0px 0px 10px 0px;text-align:center" pattern="\d" maxlength="1" name="access-code-c">
                        <input type="text" style="margin:3%;width:10%;height:75%;box-shadow:0px 0px 10px 0px;text-align:center" pattern="\d" maxlength="1" name="access-code-d">
                    </div>
                    <div id="question-pick" style="background-color:#cecece;height:100%;width:100%;text-align:center;position:absolute;display:none">
                        <div class="dropdown questions-dropdown">
                            <a data-toggle="dropdown" href="#">PLEASE CHOOSE A CATEGORY <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="min-width: 100%; max-width: 100%;top: 100%;cursor:pointer;">
                                <li role="presentation"><a role="menuitem" tabindex="-1" onclick="showAccessQuestion('Mathematics')">Mathematics</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" onclick="showAccessQuestion('Science')">Science</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" onclick="showAccessQuestion('Business')">Business</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" onclick="showAccessQuestion('Art')">Art & Creative</a></li>
                            </ul>
                        </div>
                    </div>
                    <textarea id="access-answer" name="access_answer" class="access access-answer" tabindex="1" style="display:none;"></textarea>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="access-bottom-top">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center;margin-top:3%;">
                <input id="submit-answer" style="display:none;" type="submit" value="SUBMIT ANSWER" class="access-answer-submit" onclick="submitAccessAnswer()">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="access-bottom-bottom"></div>
    </div>
</div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/lib/stellar.js"></script>
<script src="/assets/js/lib/jquery.smooth-scroll.min.js"></script>
<script src="/assets/js/member_access.js"></script>
{% endblock %}