{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
<link href="/assets/css/member_register.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/lib/jquery.Jcrop.css" type="text/css" />
<style>
.wide {
    width: 150%;
}
.member-profile tr {
    line-height: 150%;
}
.member-profile td {
    width: 50%;
}
.member-profile label, input {
    font-weight: 100;
}
.bio {
    font-weight: 100;
    resize: none;
}
.hidden {
    visibility: hidden;
    display: none;
}
.member-image-holder {
    border: 1px solid black;
    height: 150px;
    width: 150px;
}
</style>
{% endblock %}
{% block Content %}
<div id="member_profile">
    <div style="height:100px"></div>
    <div style="height:50px">
        <div class="col-md-2"></div>
        <div class="col-md-8 calendar-text">
            <b>PROFILE</b>
            <form action={{ form_url }} method="POST" enctype="multipart/form-data">
                <div style="height:20px"></div>
                <img id="member-picture" src="/api/members/{{ member.email }}/image" class="member-image-holder" onclick="$('#member-image').click()">
                <input type="file" class="hidden" id="member-image" name="member-image">
                <div style="height:20px"></div>
                <table class="member-profile">
                    <tr>
                        <td><label for="name">Name</label></td>
                        <td><input class="wide blanks" id="name" name="name" value={% if member.name %}{{ member.name }}{% endif %}></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email</label></td>
                        <td><input class="wide blanks" id="email" name="email" value={% if member.email %}{{ member.email }}{% endif %}></td>
                    </tr>
                    <tr>
                        <td><label for="bio">Bio</label></td>
                        <td><textarea class="wide bio" id="bio" name="bio" >{% if member.bio %}{{ member.bio }}{% endif %}</textarea></td>
                    </tr>
                    <tr>
                        <td><label for="twitter_handle">Twitter Handle</label></td>
                        <td><input class="wide blanks" id="twitter_handle" name="twitter_handle" value={% if member.twitter_handle %}{{ member.twitter_handle }}{% endif %}></td>
                    </tr>
                    <tr>
                        <td><label for="facebook_id">Facebook Id</label></td>
                        <td><input class="wide blanks" id="facebook_id" name="facebook_id" value={% if member.facebook_id %}{{ member.facebook_id }}{% endif %}></td>
                    </tr>
                    <tr>
                        <td><label for="organization">Organization</label></td>
                        <td><input class="wide blanks" id="organization" name="organization" value={% if member.organization %}{{ member.organization }}{% endif %}></td>
                    </tr>
                    <tr>
                        <td><label for="designation">Designation</label></td>
                        <td><input class="wide blanks" id="designation" name="designation" value={% if member.designation %}{{ member.designation }}{% endif %}></td>
                    </tr>
                    <tr>
                        <td><label for="website">Website</label></td>
                        <td><input class="wide blanks" id="website" name="website" value={% if member.website %}{{ member.website }}{% endif %}></td>
                    </tr>
                </table>
                <div style="height:20px"></div>
                <input type="submit">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}
{% block Scripts %}
    <script src="/assets/js/lib/jquery.Jcrop.min.js"></script>
    <script language="Javascript">
        function useCoords(c){
              // variables can be accessed here as
              // c.x, c.y, c.x2, c.y2, c.w, c.h
              console.log(c.x + ',' + c.y + ',' + c.x2 + ',' + c.y2);
        };
    </script>
    <!--<script language="Javascript">-->
        <!--jQuery(function($) {-->
            <!--$('#member-picture').Jcrop({-->
                <!--onSelect: useCoords-->
            <!--});-->
        <!--});-->
    <!--</script>-->
{% endblock %}