{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
<link href="/assets/css/member_register.css" type="text/css" rel="stylesheet">
<style>
.wide {
    width: 50%;
}
</style>
{% endblock %}
{% block Content %}
<div id="member_profile">
    <div style="height:100px"></div>
    <div style="height:50px">
        <div class="col-md-2"></div>
        <div class="col-md-8 calendar-text">
            <b>PROFILE</b>
            <form action={{ form_url }} method="POST" enctype="multipart/form-data">
                <div class="col-md-12"><input type="file" id="image" name="image"></div>
                <div class="col-md-3"><label for="name">Name</label></div>
                <div class="col-md-9"><input class="wide" id="name" name="name" value={% if member.name %}{{ member.name }}{% endif %}></div>
                <div class="col-md-3"><label for="email">Email</label></div>
                <div class="col-md-9"><input class="wide" id="email" name="email" value={% if member.email %}{{ member.email }}{% endif %}></div>
                <div class="col-md-3"><label for="twitter_handle">Twitter Handle</label></div>
                <div class="col-md-9"><input class="wide" id="twitter_handle" name="twitter_handle" value={% if member.twitter_handle %}{{ member.twitter_handle }}{% endif %}></div>
                <div class="col-md-3"><label for="facebook_id">Facebook Id</label></div>
                <div class="col-md-9"><input class="wide" id="facebook_id" name="facebook_id" value={% if member.facebook_id %}{{ member.facebook_id }}{% endif %}></div>
                <div class="col-md-3"><label for="organization">Organization</label></div>
                <div class="col-md-9"><input class="wide" id="organization" name="organization" value={% if member.organization %}{{ member.organization }}{% endif %}></div>
                <div class="col-md-3"><label for="designation">Designation</label></div>
                <div class="col-md-9"><input class="wide" id="designation" name="designation" value={% if member.designation %}{{ member.designation }}{% endif %}></div>
                <div class="col-md-3"><label for="bio">Bio</label></div>
                <div class="col-md-9"><input class="wide" id="bio" name="bio" value={% if member.bio %}{{ member.bio }}{% endif %}></div>
                <div class="col-md-3"><label for="website">Website</label></div>
                <div class="col-md-9"><input class="wide" id="website" name="website" value={% if member.website %}{{ member.website }}{% endif %}></div>
                <input type="submit">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}