{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/sass_out/member_register.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="member_registration" class="member-registration">
    <div class="registration-form">
        <div class="logo-container">
            <img class="logo" src="/assets/img/landing/bl-logo-intro.png">
        </div>
        <div class="registration-text">
            <form id="signup-form" action="/api/members/create" method="POST" onsubmit="return validateMemberRegistrationForm()">
                <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
                <div id="facebook-login">
                    <p><fb:login-button show-faces="false" width="200" max-rows="1" scope="email,user_work_history"></fb:login-button> to fill information from Facebook<br><br></p>
                </div>
                <div>
                    <p>
                        <img id='profile-image' style="margin:auto;display:none" src="/assets/img/landing/default_member.png" class="member-image-thumbnail-holder">
                    </p>
                    <p id="use-fb-image" style="display:none;font-size:20px;">
                        <input type="checkbox" id="fb-pic-checkbox" name="fb-pic-checkbox" value="true"> Use Facebook Profile Picture as BeaglesLoft Profile Picture<br><br>
                    </p>
                    <p>
                        HELLO. MY NAME IS<br><br>
                        <input class="blanks" type="text" id="name" name="name" style="width: 96%;">*<br><br>
                        I AM A <input class="blanks" type="text" id="designation" name="designation" style="width: 35%;">* AT <input class="blanks" type="text" id="organization" name="organization" style="width: 36%;">*<br><br>
                        LET ME TELL YOU ABOUT MYSELF<br>
                    </p>
                    <p>
                        <textarea id="bio" name="bio" class="blanks" maxlength="300" style="min-width:96%;max-width:96%;"></textarea>*<br><br>
                    </p>
                    <p>
                        I WISH TO ENROLL AS <select class="blanks" name="role" style="width: 46.5%;" onchange="showManagers(this)">
                        <option>Select Role</option><option value="1">Manager</option><option value="2">Engineer</option></select><br><br>
                        <span id="manager" style="display:none;">MY MANAGER IS <select class="blanks" name="manager" style="width: 46.5%;">
                        <option>Select Manager</option>{% for manager in managers %}<option value="{{manager.0}}">{{manager.1}}</option>{% endfor %}</select><br><br></span>
                        <input class="blanks optional" type="hidden" id="facebook_id" name="facebook_id">
                        MY TWITTER HANDLE <input class="blanks optional" type="text" id="twitter_handle" name="twitter_handle" style="width: 48%;"><br><br>
                        YOU CAN FIND OUT MORE ABOUT ME AT<br><br>
                        <input class="blanks optional" type="text" id="website" name="website" style="width: 96%;" placeholder="HTTP://"><br><br>
                        YOU CAN ALSO EMAIL ME AT<br><br>
                        <input class="blanks" type="email" id="email" name="email" style="width: 96%;">*<br><br>
                    </p>
                </div>
                <div>
                    <p>
                        PASSWORD <input class="blanks" type="password" id="password" name="password" style="width: 68%;" placeholder="Minimum 6 characters">*<br><br>
                    </p>
                </div>
                <div>
                    <input type="submit" onsubmit="validateRegistrationFields" class="application-submit" value="SUBMIT APPLICATION">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/member-registration.js"></script>
<script>
$('#signup-form').submit(function(){
    var email = $('#email').val();
    var name = $('#name').val();
    mixpanel.identify(email);
    mixpanel.people.set({'$email': email, '$name': name});
    mixpanel.alias(email);
    mixpanel.track("signup");
});
</script>
{% endblock %}