{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/sass_out/newsletters.css" type="text/css" rel="stylesheet">
<link href="/assets/css/sass_out/newsletter_list.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div class="hero row">
    <div class="col-sm-4 col-sm-offset-4">
        <p>NEWSLETTERS</p>
    </div>
</div>

<div class="subscribe">
	<a href="/subscribe_newsletter">
		<button class="subscribe-button">SUBSCRIBE</button>
	</a>
</div>

<div class="width960">
    <p class="event-div-title">NEWSLETTERS</p>
</div>

{% for key, value in newsletters.items %}
        {% include "components/newsletter_list.html" with events=value counter=forloop.counter %}
{% endfor %}

{% endblock %}

{% block Scripts %}
    <script src="/assets/js/desktop/desktop_base.js"></script>
{% endblock %}