{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="people">
    <div class="full-width" style="text-align:center">
        <input type="hidden" name="member_keys" id="member_keys"
									value="{% for page in paged_member_keys %}{% for v in page %}{{v.0}}{% if forloop.counter != page|length %},{% endif %}{% endfor %}{% if forloop.counter != paged_member_keys|length %},{% endif %}{% endfor %}">
        <div class="full-width" style="height:340px;background: url('/assets/img/landing/people.png') center center fixed no-repeat;background-size: cover;">
            <div style="height:135px"></div>
            <div style="height:90px;width:620px;margin:auto;background-color:#c62530;color:#ffffff;padding:20px;"><p class="page_heading">THE PEOPLE THAT MAKE US WHO WE ARE</p></div>
        </div>
        <div class="full-width" style="height:165px;background-color:#ffffff;">
            <div style="width:940px;height:165px;margin:auto">
                <div style="height:35px;"></div>
                <div style="height:100px;" id="member-carousel" class="carousel slide" data-interval="0">
                    <div style="height:100px;width:820px;overflow-x:hidden;overflow-y:hidden;display:inline-block;float:left;" class="carousel-inner">
                        {% for page in paged_member_keys %}
                        <table style="height:100px;" class="item {% if forloop.first %}active{% endif %}">
                            <tbody>
                                <tr>
                                    {% for v in page %}
                                        <td style="min-width:120px;padding:0px;">
                                            <div style="height:100px;width:100px;display:inline-table;float:left;">
                                                <div id="people-{{v.3}}" class="people-picture" style="height:100px;width:100px;background: url('{% if v.1 %} /api/members/{{v.0}}/image {% elif v.2 %} https://graph.facebook.com/{{v.2}}/picture?type=normal&height=300&width=300 {% else %} /assets/img/landing/default-user.gif {% endif %}') no-repeat center;{% if forloop.first %}border:#848484 solid;{% endif %};background-size:contain;" onclick="showMemberInfo($(this).parent().find('input').val());"></div>
                                                <input type="hidden" value="{{v.0}}">
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                    <div style="height:100px;width:100px;margin-left:20px;display:inline-block;float:left;">
                        <div style="height:100px;width:50px;display:inline-block;float:left;background-color:#f2f1ed;">
                            <div style="height:38px;"></div>
                            <a class="carousel-arrow" href="#member-carousel" data-slide="prev" style="background-image:none">
                                <img src="/assets/img/landing/communityarrows/left-red.png">
                            </a>
                            <div style="height:38px;"></div>
                        </div>
                        <div style="height:100px;width:50px;display:inline-block;float:left;background-color:#f2f1ed;">
                            <div style="height:38px;"></div>
                            <a class="carousel-arrow" href="#member-carousel" data-slide="next" style="background-image:none">
                                <img src="/assets/img/landing/communityarrows/right-red.png">
                            </a>
                            <div style="height:38px;"></div>
                        </div>
                    </div>
                </div>
                <div style="height:30px;"></div>
            </div>
        </div>
        <div class="full-width" style="background-color:#f4f0ed">
            <div style="width:940px;height:410px;margin:auto;">
                <div style="height:55px;"></div>
                <div id="people-detail" style="height:300px;text-align:left;">
                    <div style="width:300px;height:300px;display:inline-block;float:left;">
                        <img id="picture" style="max-height:100%;max-width:100%;height:100%;width:100%" src="/assets/img/landing/default-user.gif">
                    </div>
                    <div style="width:55px;height:300px;display:inline-block;float:left;"></div>
                    <div style="width:585px;height:300px;display:inline-block;float:left;">
                        <div style="height:150px">
                            <div class="people-designation" style="height:25%"><i><p id="designation">Founder, Haggle</p></i></div>
                            <div class="people-name" style="height:50%"><p id="name">RAJIV SALIMATH</p></div>
                            <div style="height:25%">
                                <div class="people-website" style="display:inline-block;float:left;"><img src="/assets/img/landing/link-icon.png" style="display:inline-block"><p style="display:inline-block;margin-left:10px;"><i id="website">gethaggle.com</i></p></div>
                                <div class="people-twitter-handle" style="display:inline-block;float:left;margin-left:30px;"><img src="/assets/img/landing/tw-icon.png" style="display:inline-block"><p style="display:inline-block;margin-left:10px;"><i id="twitter_handle">@gethaggle</i></p></div>
                            </div>
                        </div>
                        <div class="people-desc" style="height:150px">
                            <p id="bio">
                                Praesent vitae dignissim lacus, eu imperdiet sem. Nunc sodales ipsum nibh, vitae suscipit enim ornare eget. Etiam venenatis euismod ullamcorper. Morbi consequat non urna facilisis accumsan. Fusce mollis laoreet odio eget consectetur. Praesent dictum sem a fringilla hendrerit. Phasellus purus tellus, convallis volutpat pharetra non, venenatis sit amet neque.
                            </p>
                        </div>
                    </div>
                </div>
                <div style="height:55px;"></div>
            </div>
        </div>
        <div class="full-width" style="background-color:#f4f0ed">
            <div style="height:115px;border-top:1px solid #cccccc;">
                <div style="height:115px;width:940px;margin:auto;">
                    <div style="height:60px">
                        <div style="width:313.33px;height:100%;display:inline-block;float:left;">
                            <div class="people-score-name" style="padding-top:25px">INFLUENCE</div>
                        </div>
                        <div style="width:313.33px;height:100%;display:inline-block;float:left;">
                            <div class="people-score-name" style="padding-top:25px">ACTIVITY</div>
                        </div>
                        <div style="width:313.33px;height:100%;display:inline-block;float:left;">
                            <div class="people-score-name" style="padding-top:25px">PROFICIENCY</div>
                        </div>
                    </div>
                    <div style="height:55px">
                        <div style="width:313.33px;height:100%;display:inline-block;float:left;">
                            <div class="people-score-value progress" style="width:95%;">
                                <div class="progress-bar" id="influence" style="width: 80%;height:100%">
                                </div>
                            </div>
                        </div>
                        <div style="width:313.33px;height:100%;display:inline-block;float:left;">
                            <div class="people-score-value progress" style="width:95%;">
                                <div class="progress-bar" id="activity" style="width: 75%;height:100%">
                                </div>
                            </div>
                        </div>
                        <div style="width:313.33px;height:100%;display:inline-block;float:left;">
                            <div class="people-score-value progress" style="width:95%;">
                                <div class="progress-bar" id="proficiency" style="width: 90%;height:100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-width" style="background-color:#ffffff">
            <div style="height:95px;margin:auto;border-bottom:1px solid #e5e5e5;">
                <div style="height:30px;"></div>
                <div style="height:25px;font-family: 'Oswald', sans-serif;font-weight: 300;font-size:30px;color:#c62530;">OUR PARTNERS</div>
                <div style="height:40px;"></div>
            </div>
            <div style="width:940px;height:553px;margin:auto;">
                <div style="height:553px;">
                    <div style="height:109px"></div>
                    <div style="height:341px;">
                        <div style="width:35px;height:341px;display:inline-block;float:left;"></div>
                        <div style="width:460px;height:341px;display:inline-block;float:left;">
                            <div id="partner-details" style="width:460px;height:217px;text-align:left;">
                                <div style="height:175px;width:460px;position:relative;">
                                    <img class="partner-img" id="partner-img-sequoia" src="/assets/img/landing/sequoia_capital.png">
                                    <img class="partner-img" id="partner-img-sl" src="/assets/img/landing/startupleadership.png">
                                    <img class="partner-img" id="partner-img-bvp" src="/assets/img/landing/BessemerVenturePartners.gif">
                                    <img class="partner-img" id="partner-img-jaaga" src="/assets/img/landing/jaaga.jpg">
                                </div>
                                <p style="font-family: 'Merriweather', sans-serif;font-weight: 700;font-size: 17px;"><a style="color:#c62530 !important;" href="http://www.sequoiacap.com" target="_blank"><i id="partner-website">www.sequoiacap.com</i></a></p>
                                <p style="font-family: 'Merriweather', sans-serif;font-weight: 300;font-size: 17px;line-height:30px;"><i id="partner-desc">Nam placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.</i></p>
                            </div>
                            <div style="width:460px;height:55px;"></div>
                        </div>
                        <div style="width:105px;height:341px;display:inline-block;float:left;"></div>
                        <div style="width:340px;height:341px;display:inline-block;float:left;">
                            <!--<div style="height:110px;">-->
                                <!--<div class="partner-square" style="margin-right:10px;margin-bottom:10px;" id="partner-1">-->
                                    <!--<img src="/assets/img/landing/sequoia.png" style="position:absolute;top:35%;left:0%;max-width:100%;max-height:100%;">-->
                                    <!--<input type="hidden" value="/assets/img/landing/sequoia.png;www.sequoiacap.com;Sequoia placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">-->
                                <!--</div>-->
                                <!--<div class="partner-square" style="margin-left:10px;margin-right:10px;margin-bottom:10px;" id="partner-2">-->
                                    <!--<img src="/assets/img/landing/jaaga.png" style="position:absolute;top:35%;left:0%;max-width:100%;max-height:100%;">-->
                                    <!--<input type="hidden" value="/assets/img/landing/jaaga.png;www.jaaga.in;Jaaga placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">-->
                                <!--</div>-->
                                <!--<div class="partner-square" style="margin-left:10px;margin-bottom:10px;" id="partner-3">-->
                                    <!--<img src="/assets/img/landing/accel.png" style="position:absolute;top:35%;left:0%;max-width:100%;max-height:100%;">-->
                                    <!--<input type="hidden" value="/assets/img/landing/accel.png;www.accel.com;Accel placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div style="height:120px;">-->
                                <!--<div class="partner-square" style="margin-right:10px;margin-bottom:10px;margin-top:10px;" id="partner-4">-->
                                    <!--<img src="/assets/img/landing/accel.png" style="position:absolute;top:35%;left:0%;max-width:100%;max-height:100%;">-->
                                    <!--<input type="hidden" value="/assets/img/landing/accel.png;www.accel.com;Accel placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">-->
                                <!--</div>-->
                                <!--<div class="partner-square" style="margin-left:10px;margin-right:10px;margin-top:10px;margin-bottom:10px;" id="partner-5">-->
                                    <!--<img src="/assets/img/landing/sequoia.png" style="position:absolute;top:35%;left:0%;max-width:100%;max-height:100%;">-->
                                    <!--<input type="hidden" value="/assets/img/landing/sequoia.png;www.sequoiacap.com;Sequoia placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">-->
                                <!--</div>-->
                                <!--<div class="partner-square" style="margin-left:10px;margin-bottom:10px;margin-top:10px;" id="partner-6">-->
                                    <!--<img src="/assets/img/landing/jaaga.png" style="position:absolute;top:35%;left:0%;max-width:100%;max-height:100%;">-->
                                    <!--<input type="hidden" value="/assets/img/landing/jaaga.png;www.jaaga.in;Jaaga placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div style="height:110px;">-->
                                <!--<div class="partner-square" style="margin-right:10px;margin-top:10px;" id="partner-7">-->
                                    <!--<img src="/assets/img/landing/sequoia.png" style="position:absolute;top:35%;left:0%;max-width:100%;max-height:100%;">-->
                                    <!--<input type="hidden" value="/assets/img/landing/sequoia.png;www.sequoiacap.com;Sequoia placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">-->
                                <!--</div>-->
                                <!--<div class="partner-square" style="margin-left:10px;margin-right:10px;margin-top:10px;" id="partner-8">-->
                                    <!--<img src="/assets/img/landing/jaaga.png" style="position:absolute;top:35%;left:0%;max-width:100%;max-height:100%;">-->
                                    <!--<input type="hidden" value="/assets/img/landing/jaaga.png;www.jaaga.in;Jaaga placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">-->
                                <!--</div>-->
                                <!--<div class="partner-square" style="margin-left:10px;margin-top:10px;" id="partner-9">-->
                                    <!--<img src="/assets/img/landing/accel.png" style="position:absolute;top:35%;left:0%;max-width:100%;max-height:100%;">-->
                                    <!--<input type="hidden" value="/assets/img/landing/accel.png;www.accel.com;Accel placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">-->
                                <!--</div>-->
                            <!--</div>-->
                            <div style="height:170px;">
                                <div class="partner-square" style="margin-right:20px;margin-bottom:20px;" id="partner-1">
                                    <div style="height:40px;"></div>
                                    <img src="/assets/img/landing/sequoia_capital.png" class="partner-icon">
                                    <div style="height:30px;"></div>
                                    <input type="hidden" value="sequoia;www.sequoiacap.com;Sequoia Capital placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">
                                </div>
                                <div class="partner-square" style="margin-left:20px;margin-bottom:20px;" id="partner-2">
                                    <div style="height:40px;"></div>
                                    <img src="/assets/img/landing/startupleadership.png" class="partner-icon">
                                    <div style="height:30px;"></div>
                                    <input type="hidden" value="sl;www.startupleadership.com;Startup Leadership placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">
                                </div>
                            </div>
                            <div style="height:170px;">
                                <div class="partner-square" style="margin-right:20px;margin-top:20px;" id="partner-3">
                                    <div style="height:40px;"></div>
                                    <img src="/assets/img/landing/BessemerVenturePartners.gif" class="partner-icon">
                                    <div style="height:30px;"></div>
                                    <input type="hidden" value="bvp;www.bvp.com;Bessemer Venture Partners placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">
                                </div>
                                <div class="partner-square" style="margin-left:20px;margin-top:20px;" id="partner-4">
                                    <div style="height:40px;"></div>
                                    <img src="/assets/img/landing/jaaga.jpg" class="partner-icon">
                                    <div style="height:30px;"></div>
                                    <input type="hidden" value="jaaga;www.jaaga.in;Jaaga placerat vel est in ultricies. Proin congue mi ut lectus venenatis fringilla vitae in libero. Nullam eu consectetur mauris. Cras venenatis velit at felis ultrices, id mollis justo fermentum.">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height:103px"></div>
                </div>
            </div>
        </div>
    </div>
    <footer style="text-align:center;height:75px;background-color:#e5e5e5;color:#44433f;font-family: 'Merriweather', sans-serif;font-weight: 300;font-size: 18px;padding-top: 25px;"><a href="https://twitter.com/BeaglesLoft" target="_blank"><i>@beaglesloft</i></a></footer>
</div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/people.js"></script>
<script src="/assets/js/lib/jquery.smooth-scroll.min.js"></script>
{% endblock %}