{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
<link href="/assets/css/tracks.css" type="text/css" rel="stylesheet">
<link href="/assets/css/program_listing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div class="row centered-full-width-element landing-carousel-item" style="height:304px;background:url('/assets/img/landing/tracks.png') center center no-repeat;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        {% include "components/centered_content.html" with centered=listing_heading %}
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="white-background">
    <div class="width940 section-content">
        {% if is_member %}
            {% with program.id|add:" "|add:track.id as arg %}
                {% if is_manager or member.email|is_enrolled_program:arg %}
                    <div class="row">
                        {% include "components/track_progress.html" with obj=program donuts=donuts is_manager=is_manager member=member type="program" track=track img=program.image %}
                    </div>
                {% elif not member.email|is_enrolled_program:arg %}
                    <div class="row">
                        <div class="col-sm-12 program-enroll-button-container align-center">
                            <button class="learn-more-button margin-auto" value="ENROLL" onclick="$.post('/api/members/enroll',{'program_id':'{{program.id}}', 'track_id':'{{track.id}}'}).success(function(){window.location.assign('{{program.url}}');});">ENROLL @ {{program.name}}</button>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        {% endif %}
        <div id="accordion" class="panel-group">
            {% for module in modules %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ track.id }}-{{ forloop.counter }}">
                        <h3 class="panel-title white-font">
                            {{ module.name }}<span class="glyphicon glyphicon-chevron-down" style="float: right; padding: 5px 20px 0px 0px"></span>
                        </h3>
                    </a>
                </div>
                <div id="collapse-{{ track.id }}-{{ forloop.counter }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                        {% for unit in module.units  %}
                            <li class="normal-copy">{{ unit }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/tracks.js"></script>
    <script src="/assets/js/landing.js"></script>
    <script src="/assets/js/desktop/desktop_base.js"></script>
    {% include "components/new_donut_chart_script.html" %}
{% endblock %}