{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
<link href="/assets/css/tracks.css" type="text/css" rel="stylesheet">
<link href="/assets/css/program_listing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div class="row centered-full-width-element landing-carousel-item" style="height:304px;background:url('/assets/img/landing/tracks.png') center center no-repeat;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        {% include "components/centered_content.html" with centered=listing_heading %}
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="white-background">
    <div class="width940 section-content">
        <div id="accordion" class="panel-group">
            {% for module in program.modules %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title white-font">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ track.id }}-{{ forloop.counter }}">{{ module.title }}</a>
                    </h3>
                </div>
                <div id="collapse-{{ track.id }}-{{ forloop.counter }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                        {% for unit in module.units  %}
                            <li>{{ unit }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/tracks.js"></script>
    <script src="/assets/js/landing.js"></script>
    <script src="/assets/js/desktop/desktop_base.js"></script>
{% endblock %}