{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div class="landing-carousel-item" style="height:304px;background: url('/assets/img/landing/tracks.png') center center no-repeat;">
	<div style="display: table-cell">
		<p style="margin:auto;background-color:#c62530;color:#ffffff;padding:20px;" class="page_heading">TRACKS AT THE BEAGLES LOFT</p>
	</div>
	<!--
    <div style="height:135px"></div>
    <div style="height:90px;width:460px;margin:auto;background-color:#c62530;color:#ffffff;padding:20px;">
    	
    </div>
    -->
</div>
{% endblock %}

{% block Scripts %}

{% endblock %}