{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
<link href="/assets/css/tracks.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div class="row centered-full-width-element landing-carousel-item" style="height:304px;background: url('/assets/img/landing/tracks.png') center center no-repeat;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        {% include "components/centered_content.html" with centered=page_title_centered %}
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="white-background">
    <div class="width940 section-content">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="black-font uppercase align-center">We offer the following program tracks</h2>
            </div>
        </div>
        <div class="row" style="padding-top:20px">
            <div class="col-xs-1"></div>
            {% for key, track in tracks.items %}
            <div class="col-xs-2 align-center service-container" onclick="showTrackPrograms('#{{track.id}}');">
                <div onmouseout="hideServiceHighlightIcon(this)" onmouseover="showServiceHighlightIcon(this)" class="service-icon-container">
                    <img class="no-hover service-icon" src="{{track.icon}}">
                    <img class="on-hover service-icon hide-element" src="{{track.highlight_icon}}">
                </div>
                <h3 class="black-font uppercase service-name">{{track.title}}</h3>
            </div>
            {% endfor %}
            <div class="col-xs-1"></div>
        </div>
        <div class="track_content" style="padding-top:20px">
            {% for key, track in tracks.items %}
                {% include "components/track_programs.html" with track=track counter=forloop.counter %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/tracks.js"></script>
{% endblock %}