{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<!--<div id="values">-->
    <!--<section id="section2" style="background: url('/assets/img/landing/pattern-about.png') repeat" class="values-height">-->
        <!--<div style="width:100%;height:15%">-->
            <!--<div class="col-xs-12">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="width:100%;height:12.5%">-->
            <!--<div class="col-xs-4">-->
            <!--</div>-->
            <!--<div class="col-xs-4">-->
                <!--<p class="section2_heading">-->
                    <!--OUR VALUES-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-xs-4">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="width:100%;height:2.5%;background-color:#4e4e4e">-->
            <!--<div class="col-xs-12">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="width:100%;height:8.3%;background-color:#4e4e4e">-->
            <!--<div class="col-xs-2">-->
            <!--</div>-->
            <!--<div class="col-xs-8">-->
                <!--<p class="section2_text">-->
                    <!--<i>At The Beagles Loft, we abide by three main mantras</i>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-xs-2">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="width:100%;height:15%;background-color:#ffffff">-->
            <!--<div class="col-xs-1">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="width:100%;height:30%;background-color:#ffffff">-->
            <!--<div class="col-xs-1">-->
            <!--</div>-->
            <!--<div class="col-xs-10">-->
                <!--<div class="row" style="text-align:center">-->
                    <!--<div class="col-xs-4">-->
                        <!--<div class="col-xs-1"></div>-->
                        <!--<div class="col-xs-10">-->
                            <!--<p class="section3_heading">-->
                                <!--YEARN, DON'T BURN-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<img src="/assets/img/landing/grey-dots.png">-->
                            <!--</p>-->
                            <!--<p class="section_text" style="color:#606060">-->
                                <!--Be a dreamer, be a fixer, be an inventor flying kites in the storm. Fail as much as you can handle, but complain and do nothing and you’ll find yourself locked out.-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="col-xs-1"></div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4">-->
                        <!--<div class="col-xs-1"></div>-->
                        <!--<div class="col-xs-10">-->
                            <!--<p class="section3_heading">-->
                                <!--MAKE A BIG IMPACT-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<img src="/assets/img/landing/grey-dots.png">-->
                            <!--</p>-->
                            <!--<p class="section_text" style="color:#606060">-->
                                <!--The world is too big not to do big things. We want you to work on things that impact a billion people. Knock on our front door with a purpose or don’t expect the doorman to let you in.-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="col-xs-1"></div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4">-->
                        <!--<div class="col-xs-1"></div>-->
                        <!--<div class="col-xs-10">-->
                            <!--<p class="section3_heading">-->
                                <!--FOCUS, NO HOCUS POCUS-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<img src="/assets/img/landing/grey-dots.png">-->
                            <!--</p>-->
                            <!--<p class="section_text" style="color:#606060">-->
                                <!--Whether it’s access to venture capitalists, coders who can actually code, strong coffee, or event space, everything you need to work on your big idea is available and free.-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="col-xs-1"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xs-1">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="width:100%;height:19%;background-color:#ffffff">-->
            <!--<div class="col-xs-1">-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <!--<section id="section3" style="background-color:#9dbeb7">-->
        <!--<div class="row" style="width:100%;">-->
            <!--<div class="col-xs-6 full-height" >-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-6"></div>-->
                    <!--<div class="col-xs-5">-->
                        <!--<div class="row section6a-top"></div>-->
                        <!--<div class="row quarter-height">-->
                            <!--<p class="section6_left_text" style="text-align:right">-->
                                <!--WE'RE NOT AN ACCELERATOR, AN-->
                                <!--INCUBATOR, OR A COWORKING SPACE;-->
                                <!--WE'RE A PLAYGROUND FOR-->
                                <!--INNOVATORS AND ARTISTS. LOFT-->
                                <!--MEMBERS ARE HERE TO ACCELERATE-->
                                <!--PROGRESS, MAKE BEAUTIFUL THINGS-->
                                <!--AND DEVELOP BIG IDEAS.-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="row section6a-bottom"></div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-1"></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xs-6 full-height" >-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-8">-->
                        <!--<div class="row section6b-top"></div>-->
                        <!--<div class="row section6b-middle" style="background: url('/assets/img/landing/border-whybeaglesloft.png') no-repeat left top;background-size: 100% 100%">-->
                            <!--<div class="col-sm-12">-->
                                <!--<div class="row section6b-middle-top"></div>-->
                                <!--<div class="row section6b-middle-middle">-->
                                    <!--<div class="col-sm-1"></div>-->
                                    <!--<div class="col-sm-10" style="text-align:center">-->
                                        <!--<p class="section6_right_heading">-->
                                            <!--Why Beagles Loft?-->
                                        <!--</p>-->
                                        <!--<p>-->
                                            <!--<img src="/assets/img/landing/dark-green-dots.png">-->
                                        <!--</p>-->
                                        <!--<p class="section6_right_text">-->
                                            <!--The name is inspired by an old basketball playground in-->
                                            <!--Bangalore. In this playground, we built friendships that-->
                                            <!--have lasted the length of our current lives, we discussed-->
                                            <!--how we'd disrupt the status quo and we tinkered with-->
                                            <!--technology and music. We often underestimate the value-->
                                            <!--of these playgrounds in our lives, but these little-->
                                            <!--playgrounds offer the three key tools that are sufficient-->
                                            <!--to work on the really big ideas that can push life forward-->
                                            <!--- community, disruptive ideas and a framework for-->
                                            <!--tinkering.-->
                                        <!--</p>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-1"></div>-->
                                <!--</div>-->
                                <!--<div class="row section6b-middle-bottom"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row section6b-bottom"></div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
<!--</div>-->
{% endblock %}

{% block Scripts %}
<script src="/assets/js/values.js"></script>
{% endblock %}