{% extends "desktop/desktop_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div style="position:relative;height:100%">
    <div id="landing-logo" style="position:absolute;text-align:center;display:none;height:100%;width:100%;background:url('/assets/img/landing/dark-gate.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;">
        <div id="logo" style="text-align:center;position:absolute;top:50%;width:100%;margin-top:-188.5px;">
            <img id="logo-img" style="margin:auto;display:none;" src="/assets/img/landing/bl-logo-intro.png">
            <div style="height:50px;margin:auto;"></div>
            <p id="logo-msg" style="display:none;margin:auto;height:27px;color:#c62530;font-family: 'Oswald', sans-serif;font-weight: 300;font-size:27px;line-height:27px;">KNOCK TWICE FOR REVOLUTION</p>
        </div>
    </div>
    <div id="landing-main" style="position:absolute;display:none;height:100%;width:100%;">
        <section id="section1" style="background-color:#F9F9ED;height:100%;">
            <div id="section1-carousel" class="carousel slide" style="height:100%;" data-interval="4000" data-pause="false">
                <ol class="landing-carousel-indicators carousel-indicators">
                    <li data-target="#section1-carousel" data-slide-to="0" class="active" onclick="ga('send', 'event', 'landing-page-slider', 'slide-indicator-click', 'Slide 1 Viewed')"></li>
                    <li data-target="#section1-carousel" data-slide-to="1" onclick="ga('send', 'event', 'landing-page-slider', 'slide-indicator-click', 'Slide 2 Viewed')"></li>
                    <li data-target="#section1-carousel" data-slide-to="2" onclick="ga('send', 'event', 'landing-page-slider', 'slide-indicator-click', 'Slide 3 Viewed')"></li>
                    <li data-target="#section1-carousel" data-slide-to="3" onclick="ga('send', 'event', 'landing-page-slider', 'slide-indicator-click', 'Slide 4 Viewed')"></li>
                    <li data-target="#section1-carousel" data-slide-to="4" onclick="ga('send', 'event', 'landing-page-slider', 'slide-indicator-click', 'Slide 5 Viewed')"></li>
                    <li data-target="#section1-carousel" data-slide-to="5" onclick="ga('send', 'event', 'landing-page-slider', 'slide-indicator-click', 'Slide 6 Viewed')"></li>
                    <li data-target="#section1-carousel" data-slide-to="6" onclick="ga('send', 'event', 'landing-page-slider', 'slide-indicator-click', 'Slide 7 Viewed')"></li>
                </ol>
                <p class="section1_heading">A SPACE</p>
                <div class="carousel-inner" style="height:100%">
                    <div class="item active landing-carousel-item" style="background:url('/assets/img/landing/light-gate.jpg') no-repeat center center fixed;">
                        <p class="section1_item_heading">TO TRANSFORM THE WAY YOU WORK, LEARN & THRIVE</p>
                        <input type="hidden" value="TRANSFORM THE WAY YOU WORK, LEARN & THRIVE">
                    </div>
                    <div class="item landing-carousel-item" style="background:url('/assets/img/landing/02.jpg') no-repeat center center fixed;">
                        <p class="section1_item_heading">TO MEET THE VCs AND PEERS WHO COULD CHANGE YOUR LIFE</p>
                        <input type="hidden" value="A SPACE TO MEET THE VCs AND PEERS WHO COULD CHANGE YOUR LIFE">
                    </div>
                    <div class="item landing-carousel-item" style="background:url('/assets/img/landing/03.jpg') no-repeat center center fixed;">
                        <p class="section1_item_heading">TO ELEVATE YOUR WORK</p>
                        <input type="hidden" value="A SPACE TO ELEVATE YOUR WORK">
                    </div>
                    <div class="item landing-carousel-item" style="background:url('/assets/img/landing/04.jpg') no-repeat center center fixed;">
                        <p class="section1_item_heading">TO SOLVE PROBLEMS</p>
                        <input type="hidden" value="A SPACE TO SOLVE PROBLEMS">
                    </div>
                    <div class="item landing-carousel-item" style="background:url('/assets/img/landing/05.jpg') no-repeat center center fixed;">
                        <p class="section1_item_heading">FOR GROUPS, PRESENTATIONS, AND ROOFTOP MOVIES</p>
                        <input type="hidden" value="A SPACE FOR GROUPS, PRESENTATIONS, AND ROOFTOP MOVIES">
                    </div>
                    <div class="item landing-carousel-item" style="background:url('/assets/img/landing/06.jpg') no-repeat center center fixed;">
                        <p class="section1_item_heading">WITH ALL THE AMENITIES, SO YOU CAN FOCUS ON BIGGER THINGS</p>
                        <input type="hidden" value="A SPACE WITH ALL THE AMENITIES, SO YOU CAN FOCUS ON BIGGER THINGS">
                    </div>
                    <div class="item landing-carousel-item" style="background:url('/assets/img/landing/07.jpg') no-repeat center center fixed;">
                        <p class="section1_item_heading">TO KICKBACK AFTER A LONG DAY OF HARD, SATISFYING WORK</p>
                        <input type="hidden" value="A SPACE TO KICKBACK AFTER A LONG DAY OF HARD, SATISFYING WORK">
                    </div>
                </div>
                <!--<a class="left carousel-control" href="#section1-carousel" data-slide="prev" style="background-image:none">
                    <span class="glyphicon-chevron-left"><img src="/assets/img/landing/left-arrow.png"></span>
                </a>
                <a class="right carousel-control" href="#section1-carousel" data-slide="next" style="background-image:none">
                    <span class="glyphicon-chevron-right"><img src="/assets/img/landing/right-arrow.png"></span>
                </a>-->
            </div>
        </section>
        <div id="welcome" class="full-width" style="background-color:#e8e4dc;text-align:center;height:244px;">
            <div style="height:74px;"></div>
            <div style="width:735px;height:92px;margin:auto;color:#2c2b27;font-family: 'Oswald', sans-serif;font-weight: 200;font-size:24px;">
                <p>
                    WELCOME TO THE BEAGLES LOFT, BANGALORE'S PLAYGROUND FOR STARTUPS, INNOVATORS, ARTISTS AND NERDS IN GENERAL.
                    COME IN, SIT, HAVE SOME TEA & HANG WITH THE SMARTEST, MOST INTERESTING PEOPLE IN TOWN. PEOPLE LIKE YOU.
                </p>
            </div>
            <div style="height:78px;"></div>
        </div>
        <div id="values">
            <div class="full-width" style="text-align:center">
                <div class="full-width" style="height:100px;border-bottom:1px solid #e5e5e5;">
                    <div style="width:940px;height:100px;margin:auto">
                        <div style="height:40px;"></div>
                        <div style="height:60px;">
                            <p style="margin:0px;padding:0px;" class="section2_heading">
                                OUR VALUES
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
                <div style="width:940px;height:600px;margin:auto;">
                    <div style="height:63px;"></div>
                    <div style="height:20px;">
                        <p style="margin:0px;padding:0px;" class="section2_text">
                                <i>At The Beagles Loft, we abide by three main mantras:</i>
                        </p>
                    </div>
                    <div style="height:100px;"></div>
                    <div style="height:320px;text-align:center;">
                        <div style="height:320px;width:70px;display:inline-block;float:left;"></div>
                        <div style="height:320px;width:220px;display:inline-block;float:left;">
                            <p class="section3_heading">
                                MAKE A <br>BIG IMPACT
                            </p>
                            <br>
                            <p class="section_text">
                                The world is too big not to do big things. We want you to work on things that impact a billion people. Knock on our front door with a purpose or don’t expect the doorman to let you in.
                            </p>
                        </div>
                        <div style="height:320px;width:70px;display:inline-block;float:left;"></div>
                        <div style="height:320px;width:220px;display:inline-block;float:left;">
                            <p class="section3_heading">
                                FOCUS, NO <br>HOCUS POCUS
                            </p>
                            <br>
                            <p class="section_text">
                                Whether it’s access to venture capitalists, coders who can actually code, strong coffee, or event space, everything you need to work on your big idea is available and free.
                            </p>
                        </div>
                        <div style="height:320px;width:70px;display:inline-block;float:left;"></div>
                        <div style="height:320px;width:220px;display:inline-block;float:left;">
                            <p class="section3_heading">
                                YEARN, <br>DON'T BURN
                            </p>
                            <br>
                            <p class="section_text">
                                Be a dreamer, be a fixer, be an inventor flying kites in the storm. Fail as much as you can handle, but complain and do nothing and you’ll find yourself locked out.
                            </p>
                        </div>
                        <div style="height:320px;width:70px;display:inline-block;float:left;"></div>
                    </div>
                    <div style="height:110px;"></div>
                </div>
            </div>
            <div class="full-width" style="position:relative;height:369px;background-color:#c72430;text-align:center;">
                <!--<img src="/assets/img/landing/loft-texture.png" style="left:0%;z-index:10;width:100%;height:369px;margin:auto;position:absolute;">-->
                <div style="left:0%;z-index:10;width:100%;height:369px;margin:auto;position:absolute;background:url('/assets/img/landing/loft-texture.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;""></div>
                <div style="left:50%;z-index:20;width:940px;height:369px;margin:auto;position:absolute;margin-left:-470px;">
                    <div style="width:940px;height:129px;"></div>
                    <div style="width:940px;height:103px;">
                        <p class="section6_left_text" style="text-align:center;">
                            WE'RE NOT AN ACCELERATOR, AN
                            INCUBATOR, OR A COWORKING SPACE;
                            WE'RE A PLAYGROUND FOR
                            INNOVATORS AND ARTISTS. LOFT
                            MEMBERS ARE HERE TO ACCELERATE
                            PROGRESS, MAKE BEAUTIFUL THINGS
                            AND DEVELOP BIG IDEAS.
                        </p>
                    </div>
                    <div style="width:940px;height:137px;"></div>
                </div>
            </div>
            <div class="full-width" style="height:520px;background-color:#444444;background:url('/assets/img/landing/basketball-court.png') center center fixed;background-size: cover;
    background-repeat: no-repeat;">
                <div style="width:940px;height:520px;margin:auto;">
                    <div style="width:940px;height:138px;"></div>
                    <div style="width:940px;height:244px;">
                        <div style="height:244px;width:330px;display:inline-block;float:left;">
                            <div style="height:112px;width:330px;"></div>
                            <div style="height:34px;width:330px;">
                                <p class="section6_right_heading">
                                    WHY BEAGLES LOFT?
                                </p>
                            </div>
                            <div style="height:98px;width:330px;"></div>
                        </div>
                        <div style="height:244px;width:130px;display:inline-block;float:left;"></div>
                        <div style="height:244px;width:440px;display:inline-block;float:left;">
                            <p class="section6_right_text">
                                <i>The name is inspired by an old basketball playground in
                                Bangalore. In this playground, we built friendships that
                                have lasted the length of our current lives, we discussed
                                how we'd disrupt the status quo and we tinkered with
                                technology and music. We often underestimate the value
                                of these playgrounds in our lives, but these little
                                playgrounds offer the three key tools that are sufficient
                                to work on the really big ideas that can push life forward
                                - community, disruptive ideas and a framework for
                                tinkering.</i>
                            </p>
                        </div>
                        <div style="height:244px;width:40px;display:inline-block;float:left;"></div>
                    </div>
                    <div style="width:940px;height:138px;"></div>
                </div>
            </div>
        </div>
        <footer class="beaglesloft-footer">
            <a href="https://twitter.com/BeaglesLoft" target="_blank">
                <img style="margin-left:10px;margin-right:10px;vertical-align:top;" src="/assets/img/landing/tw.png">
            </a>
            <a href="https://twitter.com/BeaglesLoft" target="_blank">
                FOLLOW US ON TWITTER
            </a>
            <a href="https://www.facebook.com/beaglesloft" target="_blank" style="margin-left:30px;">
                <img style="margin-left:10px;margin-right:10px;vertical-align:top;" src="/assets/img/landing/fb.png">
            </a>
            <a href="https://www.facebook.com/beaglesloft" target="_blank">
                LIKE US ON FACEBOOK
            </a>
        </footer>
    </div>
</div>
{% endblock %}

{% block CustomScripts %}
<script src="/assets/js/landing.js"></script>
{% endblock %}