{% extends "desktop/desktop_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div style="position:relative;height:100%">
    <div id="landing-logo" style="position:absolute;text-align:center;display:none;height:100%;width:100%;background:url('/assets/img/landing/dark-gate.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;">
        <div id="logo" style="text-align:center;position:absolute;top:50%;width:100%;margin-top:-188.5px;">
            <img id="logo-img" style="margin:auto;display:none;" src="/assets/img/landing/bl-logo-intro.png">
            <div style="height:50px;margin:auto;"></div>
            <p id="logo-msg" style="display:none;margin:auto;height:27px;color:#c62530;font-family: 'Oswald', sans-serif;font-weight: 300;font-size:27px;line-height:27px;">KNOCK TWICE FOR REVOLUTION</p>
        </div>
    </div>
    <div id="landing-main" style="position:absolute;display:none;height:100%;width:100%;">
        <section id="section1" style="background-color:#F9F9ED;height:100%;">
            <div id="section1-carousel" class="carousel slide" style="height:100%;" data-interval="4000" data-pause="false">
                <ol class="landing-carousel-indicators carousel-indicators">
                    <li data-target="#section1-carousel" data-slide-to="0" class="active" onclick="ga('send', 'event', 'landing-page-slider', 'slide-indicator-click', 'Slide 1 Viewed')"></li>
                    <li data-target="#section1-carousel" data-slide-to="1" onclick="ga('send', 'event', 'landing-page-slider', 'slide-indicator-click', 'Slide 2 Viewed')"></li>
                    <li data-target="#section1-carousel" data-slide-to="2" onclick="ga('send', 'event', 'landing-page-slider', 'slide-indicator-click', 'Slide 3 Viewed')"></li>
                    <li data-target="#section1-carousel" data-slide-to="3" onclick="ga('send', 'event', 'landing-page-slider', 'slide-indicator-click', 'Slide 4 Viewed')"></li>
                    <li data-target="#section1-carousel" data-slide-to="4" onclick="ga('send', 'event', 'landing-page-slider', 'slide-indicator-click', 'Slide 5 Viewed')"></li>
                </ol>
                <p id="landing-carousel-slide-1-copy" class="section1_heading show-element">BEAGLES LOFT</p>
                <p id="landing-carousel-slide-2-copy" class="section1_heading hide-element">BEAUTIFUL LOFTS</p>
                <p id="landing-carousel-slide-3-copy" class="section1_heading hide-element">A GLOBAL COMMUNITY</p>
                <p id="landing-carousel-slide-4-copy" class="section1_heading hide-element">RENOWNED EXPERTS</p>
                <p id="landing-carousel-slide-5-copy" class="section1_heading hide-element">FUN EVENTS</p>
                <div class="carousel-inner" style="height:100%">
                    <div id="landing-carousel-slide-1" class="item active landing-carousel-item" style="background:url('/assets/img/landing/light-gate.jpg') no-repeat center center fixed;">
                        <p class="section1_item_heading">DISCOVER YOUR INNER STARTUP</p>
                    </div>
                    <div id="landing-carousel-slide-2" class="item landing-carousel-item" style="background:url('/assets/img/landing/02.jpg') no-repeat center center fixed;">
                        <p class="section1_item_heading">TO ELEVATE YOUR WORK</p>
                    </div>
                    <div id="landing-carousel-slide-3" class="item landing-carousel-item" style="background:url('/assets/img/landing/03.jpg') no-repeat center center fixed;">
                        <p class="section1_item_heading">TO TAKE PRIDE IN</p>
                    </div>
                    <div id="landing-carousel-slide-4" class="item landing-carousel-item" style="background:url('/assets/img/landing/04.jpg') no-repeat center center fixed;">
                        <p class="section1_item_heading">WHO BELIEVE IN SHARING</p>
                    </div>
                    <div id="landing-carousel-slide-5" class="item landing-carousel-item" style="background:url('/assets/img/landing/05.jpg') no-repeat center center fixed;">
                        <p class="section1_item_heading">THAT MAKE WORK A BREEZE</p>
                    </div>
                </div>
                <!--<a class="left carousel-control" href="#section1-carousel" data-slide="prev" style="background-image:none">
                    <span class="glyphicon-chevron-left"><img src="/assets/img/landing/left-arrow.png"></span>
                </a>
                <a class="right carousel-control" href="#section1-carousel" data-slide="next" style="background-image:none">
                    <span class="glyphicon-chevron-right"><img src="/assets/img/landing/right-arrow.png"></span>
                </a>-->
            </div>
        </section>
        <div id="value-to-services" class="light-gray-background">
            <div class="width940 section-content">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="black-font uppercase align-center">We embed your staff into our global startup community so they are trained in new technologies, design, processes and tools</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 align-center">
                        <img class="value-img" src="/assets/img/landing/value_up_arrow.png">
                        <h3>INCREASE YOUR REVENUE PER EMPLOYEE<br>FROM $50K to $75K</h3>
                    </div>
                    <div class="col-sm-6 align-center">
                        <img class="value-img" src="/assets/img/landing/value_down_arrow.png">
                        <h3>DECREASE YOUR ATTRITION RATES<br>BY UPTO 30%</h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="services" class="white-background">
            <div class="width940 section-content">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="black-font uppercase align-center">WHAT WE OFFER</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="service-carousel-container">
                            {% for service in services %}
                                {% include "components/image_carousel.html" with carousel=service.carousel loop_count=forloop.counter %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="service-container">
                        {% for service in services %}
                        <li>
                            <a class="service-logo" href="#" style="background-image:url('{% if forloop.counter == 1 %}{{service.highlight_icon}}{% else %}{{service.icon}}{% endif %}');">
                            </a>
                            <h3 class="black-font uppercase service-name">{{service.name}}</h3>
                            <input type="hidden" name="highlight_icon" value="{{service.highlight_icon}}"></input>
                            <input type="hidden" name="icon" value="{{service.icon}}"></input>
                            <input type="hidden" name="carousel_id" value="#{{service.carousel.id}}"></input>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="signup" class="beaglesloft-red-background">
            <div class="width940 section-content align-center">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="white-font">SIGN UP TO UPGRADE YOUR WORKFORCE</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <form id="signup-form" action="/api/members/add_email" method="POST">
                            {% include "components/form_input.html" with id="signup-email" name="signup-email" type="email" placeholder="EMAIL" classes="signup-email-box" %}
                            {% include "components/form_submit.html" with id="signup-submit" name="signup-submit" value="SIGN UP" classes="signup-submit" %}
                        </form>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div id="signup-message" class="row hide-element">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <h3 class="white-font">THANK YOU FOR SIGNING UP!</h3>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
        <div id="why-beaglesloft" class="why-beaglesloft">
            <div class="width940 section-content">
                <div class="row">
                    <div class="col-sm-6">
                        {% include "components/centered_content.html" with centered=why_beaglesloft_centered.0 %}
                    </div>
                    <div class="col-sm-6">
                        {% include "components/centered_content.html" with centered=why_beaglesloft_centered.1 %}
                    </div>
                </div>
            </div>
        </div>
        <footer class="beaglesloft-footer">
            <a href="https://twitter.com/BeaglesLoft" target="_blank">
                <img style="margin-left:10px;margin-right:10px;vertical-align:top;" src="/assets/img/landing/tw.png">
            </a>
            <a href="https://twitter.com/BeaglesLoft" target="_blank">
                FOLLOW US ON TWITTER
            </a>
            <a href="https://www.facebook.com/beaglesloft" target="_blank" style="margin-left:30px;">
                <img style="margin-left:10px;margin-right:10px;vertical-align:top;" src="/assets/img/landing/fb.png">
            </a>
            <a href="https://www.facebook.com/beaglesloft" target="_blank">
                LIKE US ON FACEBOOK
            </a>
        </footer>
    </div>
</div>
{% endblock %}

{% block CustomScripts %}
<script src="/assets/js/landing.js"></script>
{% endblock %}