.cover-image, .background-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.background-image {
  height: 100vh;
  width: 100vw; }

.cover-image, .background-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.background-image {
  height: 100vh;
  width: 100vw; }

h2, .header-2 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  text-align: center; }

h3, .header-3 {
  text-transform: none;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5; }

.normal-copy {
  text-transform: none;
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5; }

@media (max-width: 767px) {
  h2, .header-2 {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.5; }

  h3, .header-3 {
    text-transform: none;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5; }

  .normal-copy {
    text-transform: none;
    font-family: "Merriweather", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5; } }
.centered-fullscreen {
  display: table-cell;
  height: 100vh;
  width: 100vw;
  vertical-align: middle;
  text-align: center; }

.separator {
  padding-top: 50px; }

.separator30 {
  padding-top: 30px; }

.width960 {
  max-width: 960px;
  margin: auto; }

.section-content {
  padding-top: 128px;
  padding-bottom: 128px; }
  .section-content .row {
    padding-top: 48px; }
    .section-content .row:first-child {
      padding-top: 0px; }

.red_and_white_button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #c62530;
  -webkit-transition: color 0.25s ease-in;
  -webkit-transition: background-color 0.25s ease-in;
  transition: color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
  border: 2px solid #c62530; }
  .red_and_white_button:hover {
    background-color: #c62530;
    color: #FFFFFF; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.hide-element {
  display: none; }

.centered-full-screen-element, .centered-full-width-element {
  display: table-cell;
  vertical-align: middle; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  height: 100%; }
  html body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    height: 100%; }
    html body:after {
      display: none;
      content: url("/assets/img/landing/landing_carousel/1.png"); }
    html body .wrap {
      min-height: 100%;
      height: 100%; }
      @media (max-width: 767px) {
        html body .wrap {
          min-width: 100%; } }
      html body .wrap .new-navbar {
        width: 100%;
        position: fixed;
        background-color: rgba(48, 46, 46, 0.95);
        background-image: none;
        background-repeat: no-repeat;
        z-index: 100;
        height: 70px;
        text-align: center;
        -webkit-transform: translateY(-100%);
        -webkit-transition: -webkit-transform 0.5s;
        transform: translateY(-100%);
        transition: transform 0.5s; }
        @media (max-width: 767px) {
          html body .wrap .new-navbar {
            background-color: transparent;
            -webkit-transform: translateY(0%);
            -webkit-transition: -webkit-transform 0.5s;
            transform: translateY(0%);
            transition: none; } }
        html body .wrap .new-navbar .navbar-centered {
          margin: auto;
          max-width: 960px;
          height: 70px; }
          html body .wrap .new-navbar .navbar-centered .logo {
            float: left !important; }
            html body .wrap .new-navbar .navbar-centered .logo .logo-container {
              height: 70px;
              display: table-cell;
              vertical-align: middle; }
              html body .wrap .new-navbar .navbar-centered .logo .logo-container img {
                height: 50px;
                width: 50px; }
          html body .wrap .new-navbar .navbar-centered .tabs {
            float: right !important; }
            html body .wrap .new-navbar .navbar-centered .tabs .tabs-container {
              height: 70px;
              display: table-cell;
              vertical-align: middle; }
              html body .wrap .new-navbar .navbar-centered .tabs .tabs-container a {
                font-family: "Oswald", sans-serif;
                text-decoration: none;
                color: #adacac;
                font-weight: 200;
                font-size: 14px;
                padding-left: 10px;
                padding-right: 10px;
                text-shadow: none;
                transition: color 1s; }
                html body .wrap .new-navbar .navbar-centered .tabs .tabs-container a:hover {
                  color: #ffffff; }
        html body .wrap .new-navbar .hide-767 {
          display: block; }
          @media (max-width: 767px) {
            html body .wrap .new-navbar .hide-767 {
              display: none; } }
        html body .wrap .new-navbar .show-767 {
          display: none; }
          @media (max-width: 767px) {
            html body .wrap .new-navbar .show-767 {
              display: block; } }
          html body .wrap .new-navbar .show-767 .dropdown {
            margin: 15px;
            width: 46px; }
            html body .wrap .new-navbar .show-767 .dropdown a {
              height: 40px;
              background-color: #000000; }
              html body .wrap .new-navbar .show-767 .dropdown a img {
                margin-top: 10px; }
      html body .wrap .content-page {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch; }
        html body .wrap .content-page .beaglesloft-footer {
          text-align: center;
          height: 75px;
          background-color: #e5e5e5;
          color: #44433f;
          font-family: "Oswald", sans-serif;
          font-weight: 300;
          font-size: 18px;
          padding-top: 21.5px;
          vertical-align: middle;
          line-height: 32px; }
          html body .wrap .content-page .beaglesloft-footer:hover {
            color: #c62430; }
          html body .wrap .content-page .beaglesloft-footer img {
            margin-left: 10px;
            margin-right: 10px;
            vertical-align: top; }
          @media (max-width: 767px) {
            html body .wrap .content-page .beaglesloft-footer {
              font-size: 12px;
              line-height: 25px;
              height: 69px; }
              html body .wrap .content-page .beaglesloft-footer img {
                width: 24px;
                height: 24px;
                margin-left: 5px;
                margin-right: 5px; }
              html body .wrap .content-page .beaglesloft-footer [class*="col-sm-"] {
                padding-right: 5px;
                padding-left: 5px; } }
        html body .wrap .content-page footer a {
          color: #44433f;
          text-decoration: none; }
          html body .wrap .content-page footer a:hover {
            color: #c62430;
            text-decoration: none; }
    html body .bglft-modal {
      font-family: 'Open Sans', sans-serif;
      background-color: rgba(0, 0, 0, 0.75); }
      html body .bglft-modal .close {
        color: #ffffff;
        opacity: 1;
        margin-left: 15px;
        font-size: 50px; }
      html body .bglft-modal .modal-header {
        font-weight: 300;
        line-height: 25px;
        font-size: 20px;
        border: 0px !important;
        margin-bottom: 40px; }
      html body .bglft-modal .modal-body {
        padding-top: 60px; }
        html body .bglft-modal .modal-body div {
          color: #ffffff;
          font-weight: 600;
          line-height: 50px;
          font-size: 22px; }
          html body .bglft-modal .modal-body div:hover, html body .bglft-modal .modal-body div:active {
            color: #fa7900 !important;
            text-decoration: none !important; }
        html body .bglft-modal .modal-body ul {
          padding-left: 0px;
          list-style-type: none; }

/*# sourceMappingURL=base.css.map */
