.cover-image, .background-image, #starting-animation-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.background-image, #starting-animation-bg {
  height: 100vh;
  width: 100vw; }

.cover-image, .background-image, #starting-animation-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.background-image, #starting-animation-bg {
  height: 100vh;
  width: 100vw; }

h2, .header-2 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  text-align: center; }

h3, .header-3 {
  text-transform: none;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5; }

.normal-copy {
  text-transform: none;
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5; }

@media (max-width: 767px) {
  h2, .header-2 {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.5; }

  h3, .header-3 {
    text-transform: none;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5; }

  .normal-copy {
    text-transform: none;
    font-family: "Merriweather", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5; } }
.centered-fullscreen {
  display: table-cell;
  height: 100vh;
  width: 100vw;
  vertical-align: middle;
  text-align: center; }

.separator {
  padding-top: 50px; }

.separator30 {
  padding-top: 30px; }

.width960 {
  max-width: 960px;
  margin: auto; }

.section-content {
  padding-top: 128px;
  padding-bottom: 128px; }
  .section-content .row {
    padding-top: 48px; }
    .section-content .row:first-child {
      padding-top: 0px; }

.red_and_white_button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #c62530;
  -webkit-transition: color 0.25s ease-in;
  -webkit-transition: background-color 0.25s ease-in;
  transition: color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
  border: 2px solid #c62530; }
  .red_and_white_button:hover {
    background-color: #c62530;
    color: #FFFFFF; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.hide-element {
  display: none; }

.centered-full-screen-element, .centered-full-width-element {
  display: table-cell;
  vertical-align: middle; }

.donut_td {
  position: relative;
  height: 80px;
  width: 80px;
  margin: auto; }

.score_text {
  color: #333333;
  font-weight: 500;
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin-bottom: 0px; }

.donut-img {
  height: 100%;
  width: 100%;
  vertical-align: baseline;
  border-radius: 50%; }

@keyframes disappear {
  from {
    display: block; }
  to {
    display: none !important; } }
html body .wrap .content-page {
  overflow-y: hidden; }
  @media (max-width: 767px) {
    html body .wrap .content-page {
      overflow-y: scroll; } }

.logo-container {
  display: none; }

#starting-animation-bg {
  background: url("/assets/img/landing/dark-gate.jpg");
  animation-name: disappe;
  animation-duration: 4s; }
  #starting-animation-bg p {
    color: #c62530;
    padding-top: 15px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 30px; }
  @media (max-width: 767px) {
    #starting-animation-bg {
      display: none; } }

#section1-carousel .carousel-inner .item {
  height: 100vh;
  width: 100vw; }

.value-to-services {
  background-color: #f2f2f2; }
  .value-to-services h2, .value-to-services h3 {
    color: #000000; }
  @media (max-width: 767px) {
    .value-to-services h2 {
      padding: 0px 15px; } }

.heading, .landing-carousel-heading, .section1-heading, .section1-sub-heading {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 38px;
  padding: 20px;
  text-align: left;
  width: auto;
  margin: 0px; }
  @media (max-width: 767px) {
    .heading, .landing-carousel-heading, .section1-heading, .section1-sub-heading {
      font-size: 18px; } }

.landing-carousel-heading, .section1-heading, .section1-sub-heading {
  position: absolute;
  top: 75%;
  z-index: 20;
  left: 0%; }

.section1-heading {
  background-color: #ffffff;
  color: #c62530;
  margin-top: -94px; }
  @media (max-width: 767px) {
    .section1-heading {
      margin-top: -65px; } }

.section1-sub-heading {
  background-color: #c62530;
  color: #ffffff; }

.service-carousel-container {
  height: 480px; }
  .service-carousel-container .landing-carousel-item {
    height: 100%; }
  .service-carousel-container .glyphicon-chevron-left:before, .service-carousel-container .glyphicon-chevron-right:before {
    content: none; }

.membership {
  background-color: #f2f2f2;
  color: #000000; }
  .membership .membership-plan .membership-title {
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc; }
    @media (max-width: 767px) {
      .membership .membership-plan .membership-title {
        margin: 0px 15px; } }
  .membership .membership-plan .small-copy {
    font-family: "Merriweather", sans-serif;
    font-weight: 300;
    font-size: 13px; }
    @media (max-width: 767px) {
      .membership .membership-plan .small-copy {
        font-size: 11px; } }
  .membership .membership-plan h2 .small-copy {
    text-transform: lowercase;
    color: #777777; }
  .membership .membership-plan .small-copy, .membership .membership-plan .learn-more-button, .membership .membership-plan h2 {
    margin-top: 15px; }
  .membership .membership-plan .learn-more-button {
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #c62530;
    -webkit-transition: color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
    transition: color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
    border: 2px solid #c62530;
    text-transform: none;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    max-width: 75%; }
    .membership .membership-plan .learn-more-button:hover {
      background-color: #c62530;
      color: #FFFFFF; }
  @media (max-width: 767px) {
    .membership .membership-plan {
      padding-top: 48px; }
      .membership .membership-plan:first-child {
        padding-top: 0px; } }

.signup {
  color: #ffffff;
  background-color: #c62530; }
  .signup .signup-form, .signup .signup-submit, .signup .signup-email-box {
    height: 34px;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    border: none; }
  .signup .signup-submit {
    background-color: #ebebeb;
    width: 100px;
    color: #000000;
    font-weight: 400;
    text-align: center; }
  .signup .signup-email-box {
    background-color: rgba(235, 235, 235, 0.1);
    width: 260px;
    font-weight: 600;
    padding-left: 15px; }

.why-beaglesloft {
  background-color: #444444;
  background: url("/assets/img/landing/basketball-court.png") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff; }
  .why-beaglesloft .why-beaglesloft-title {
    height: 300px; }
    @media (max-width: 767px) {
      .why-beaglesloft .why-beaglesloft-title {
        height: 50px; } }
  .why-beaglesloft .why-beaglesloft-copy {
    font-family: "Merriweather", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #e5edec;
    text-align: left;
    line-height: 28px;
    font-style: italic; }
    @media (max-width: 767px) {
      .why-beaglesloft .why-beaglesloft-copy {
        font-size: 14px;
        padding: 0px 15px 0px 15px;
        text-align: justify; } }

/*# sourceMappingURL=landing.css.map */
