.section1_heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 42px;
}

.section_text {
    font-family: 'Gudea', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #8C8C86;
    line-height: 26px;
}

.section2_text {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 50px;
    color: #62615F;
    text-align:center;
}

.section3_heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #ffffff;
}

.section6_left_text {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #53625F;
}

.section6_right_heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #ffffff;
    text-align:center;
    text-shadow:1px 1px 1px #000000;
}

.section6_right_text {
    font-family: 'Gudea', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #e5edec;
    text-align:center;
    text-shadow:1px 1px 1px #000000;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}

.program-time {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #72624f;
    text-align:left;
}

.program-heading, .program-heading a {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #cc4445;
    text-align:left;
}

.program-desc {
    font-family: 'Gudea', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #53493a;
    text-align:left;
}

.people-picture {
    border:black solid;
    margin:5px;
    background-size: cover;
    height: 75%;
}

.people-picture:hover, .people-picture:active {
    border: yellow solid;
}

.program-middle {
    position: relative;
}

.people-modal {
    overflow: auto;
    max-height: 50%;
    max-width: 50%;
    top: 20%;
    left: 25%;
}

.progress {
    height: 20px;
    background-color: rgba(0,0,0,0.15);
    margin-bottom: 3px;
    margin-top: 6px;
}

.progress-bar {
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 0px;
}

.people-designation {
    font-family: 'Gudea', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #e4b5b4;
    text-align:left;
}

.people-name {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #ffffff;
    text-align:left;
}

.people-website {
    font-family: 'Gudea', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #e4b5b4;
    text-align:left;
    float: right;
}

.people-twitter-handle {
    font-family: 'Gudea', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #e4b5b4;
    text-align:left;
    float: right;
}

.people-desc {
    font-family: 'Gudea', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align:left;
    max-height: 100%;
    overflow: scroll;
}

.people-score-name {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
    text-align:left;
    height: 20px;
}

.calendar-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #000000;
    text-align:left;
}

button:focus {outline:none;}
input[type="submit"]:focus {outline:none;}

.event-vw {
    border: 1px solid black;
    margin: 4%;
}

.back-to-grid-button {
    height:30px;
    width:100px;
    font-size:16px;
    color:#3f2c35;
    background: url('/assets/img/landing/pattern-people.png') repeat;
    border:none;
    font-family: 'Oswald', sans-serif;
}