#section1 {
    background-image:url('/assets/img/landing/Entrance.jpg');
}

#section2 {
    background-image:url('/assets/img/landing/GlassView.jpg');
}

#section3 {
    background-image:url('/assets/img/landing/BigHall.jpg');
}

#section4 {
    background-image:url('/assets/img/landing/Passage.jpg');
}

#section5 {
    background-image:url('/assets/img/landing/HallSpace.jpg');
}

#section6 {
    background-image:url('/assets/img/landing/TerraceEntrance.jpg');
}

#landing section {
    background-color:#cccccc;
    min-height: 1000px !important;
    min-width: 1300px !important;
    max-width: 1300px !important;
    background-repeat:no-repeat;
}

.landing-article-start {
    /*border-color:black;
    border-right-width:2px;
    border-left-width:2px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-style:solid;*/
    height:500px;
    background-color:transparent;
    margin-top:500px;
    box-shadow: 2px 2px 50px #ffffff inset;
    border-top-left-radius:100px;
    padding-top: 20px;
    color: #ffffff;
}

.landing-article {
    /*border-color:black;
    border-right-width:2px;
    border-left-width:2px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-style:solid;*/
    height:1000px;
    background-color:transparent;
    box-shadow: 0px 0px 50px #ffffff inset;
    padding-top: 20px;
    color: #ffffff;
}

.landing-article-end {
    /*border-color:black;
    border-right-width:2px;
    border-left-width:2px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-style:solid;*/
    height:500px;
    background-color:transparent;
    margin-bottom:500px;
    box-shadow: 2px 2px 50px #ffffff inset;
    border-bottom-right-radius:100px;
    padding-top: 20px;
    color: #ffffff;
}