.section1_heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.section_text {
    font-family: 'Gudea', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #8C8C86;
    line-height: 26px;
}

.section2_text {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #7A7D7F;
}

.section3_heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #ffffff;
}

.section6_left_text {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #ffffff;
}

.section6_right_heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #000000;
}

.section6_right_text {
    font-family: 'Gudea', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #676465;
}