.panel-default>.panel-heading {
    background-color: #c62530;
    padding: 0px;
}

h3.panel-title {
    font-size: 18px;
    padding: 10px 15px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.panel-heading a, .panel-heading a:hover {
    text-decoration: none;
}

.panel-body ul {
    margin-bottom: 0px;
}

h3.panel-title:hover {
    padding-left: 35px;
}

.program-enroll-button-container {
    height:80px;
    margin:auto;
    min-width:260px;
    max-width: 45%;
    padding-top:20px;
    padding-bottom:20px;
}

.back-button-container {
    height:80px;
    margin:auto;
    width: 100px;
    padding-top:24px;
    padding-bottom:24px;
}

.panel-group {
    margin-top: 48px;
}

.program-expert-img {
    max-height: 150px;
    max-width: 150px;
}

.program-expert-desc {
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    font-size: 12px;
    padding-top: 10px;
}

#listing-accordion .panel-body {
    padding: 0px;
}

#listing-accordion .panel-body ul{
    padding: 0px;
}

#listing-accordion .panel-body li {
    border: 1px solid #ddd;
    transition: all 0.1s ease;
    padding-left: 45px;
    min-height: 40px;
    line-height: 40px;
}

#listing-accordion .panel-body li:hover {
    font-weight: 600;
    font-size: 16px;
    background-color: #ddd;
}

#listing-accordion .panel-body ul {
    list-style: none;
}

@media (max-width: 767px) {
    h3.panel-title {
        font-size: 13px !important;
    }

    #listing-accordion .panel-body li {
        min-height: 25px;
        line-height: 25px;
        font-size: 11px !important;
    }
}