<footer class="beaglesloft-footer">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 col-xs-6 align-right">
            <a href="https://twitter.com/BeaglesLoft" target="_blank">
                <img src="/assets/img/landing/tw.png">
            </a>
            <a href="https://twitter.com/BeaglesLoft" target="_blank">
                FOLLOW US ON TWITTER
            </a>
        </div>
        <div class="col-sm-5 col-xs-6 align-left">
            <a href="https://www.facebook.com/beaglesloft" target="_blank">
                <img src="/assets/img/landing/fb.png">
            </a>
            <a href="https://www.facebook.com/beaglesloft" target="_blank">
                LIKE US ON FACEBOOK
            </a>
        </div>
        <div class="col-sm-1"></div>
    </div>
</footer>