<script>
function drawDonutChart(e) {
    var segments = e.getElementsByClassName("score_value");
    drawDonutChartForSegments(e, segments);
}

function drawDonutChartForSegments(e, segments) {
    var empty_color = e.getElementsByClassName("empty_color")[0].value;
    var cutout = e.getElementsByClassName("donut_cutout")[0].value;
    var segments_score = 0.0;
    var doughnutData = [];
    for(var i=0;i<segments.length;i++) {
        segment_score = segments[i].value;
        segment_color = segments[i].name;

        if(segment_score != 'no_load') {
            segments_score += parseInt(segment_score);
            doughnutData.push(
                {
                    value: parseInt(segment_score),
                    color: segment_color
                }
            );
        }
    }

    doughnutData.push(
        {
            value: 100-segments_score,
            color: empty_color
        }
    );
    var scoreDonut = new Chart(e.getElementsByClassName("donut_canvas")[0].getContext("2d")).Doughnut(doughnutData, {segmentShowStroke : false, percentageInnerCutout : cutout*100, segmentStrokeWidth : 1, animationEasing : "ease", animationSteps : 50, animateScale : false, showTooltips: false});
}

$(document).ready(function(){
    $('.donut_td').each(function(){
        drawDonutChart(this);
    });
});
</script>