<div class="row">
    <div class="col-xs-6">
        <div class="centered">
            {% include "components/new_donut_chart.html" with donut=donut img=img %}
        </div>
    </div>
    <div class="col-xs-6">
        <div class="track-progress-breadcrumb">{{obj.name}}</div>
        <h3>{{donut.title}}</h3>
        <div class="track-progress-mastery" style="color:{{donut.segments.0.color}}">{{donut.segments.0.score}}% engagement</div>
        <div class="track-skills" style="color:{{donut.segments.1.color}}">{{donut.segments.1.score}}% courses completed</div>
    </div>
</div>