<div class="row tab_icons width960">
    <div class="col-xs-1"></div>
    {% for tab in tabs %}
        <div class="col-xs-2 tab {% if forloop.counter == 1 %}active first_icon{% endif %}">
            <a href="#" >
                <img src="{{tab.icon}}" class="normal">
                <img src="{{tab.highlight_icon}}" class="hover">
            </a>
            <h3 class="uppercase">{{tab.name}}</h3>
            {% if carousel == 1 %}
            <input type="hidden" name="highlight_icon" value="{{tab.highlight_icon}}"></input>
            <input type="hidden" name="icon" value="{{tab.icon}}"></input>
            <input type="hidden" name="carousel_id" value="#{{tab.carousel.id}}"></input>
            {% else %}
            <input type="hidden" name="carousel_id" value="#{{tab.id}}"></input>
            {% endif %}
        </div>
    {% endfor %}
    <div class="col-xs-1"></div>
</div>
