<div class="row width960 track-container">
{% for program in track.programs %}
    <div class="outer-track-program-container col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <div class="inner-track-program-container">
            <div class="position-track-program-container">
                <div class="track-program-img-container">
                    <div class="position-track-program-img-container">
                        <img class="img-responsive track-program-img"src="{{program.snapshot}}">
                    </div>                
                </div>
                <div class="track-program-date-container">
                    <div class="position-track-program-date-container">
                        <p class="pull-left">{{program.start_date}}</p>
                        <p class="pull-right">{{program.num_spots}} SPOTS</p>
                    </div>
                </div>
                <div class="track-program-copy-container">
                    <div class="position-track-program-copy-container">
                        <h3 class="tracks-program-title">{{program.title}}</h3>
                        <p class="tracks-program-desc">{{program.description}}</p>
                    </div>
                </div>
                <div class="track-program-button-container white-background align-center">
                    <div class="position-track-program-button-container">
                        <a onclick="ga('send', 'event', 'Tracks Page', 'click', 'Learn More Button - Past ' + '{{ program.link }}');distinct_id = mixpanel.get_distinct_id();mixpanel.identify(distinct_id);mixpanel.people.set();mixpanel.track('track_click', {'program': '{{ program.title }}' })">
                            <button class="learn-more-button" value="LEARN MORE">LEARN MORE</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endfor %}
</div>