<div id='{{track.id}}' class="service-carousel track-program-listing" style="{% if counter != 1 %}display:none{% endif %}">
	{% for program in track.programs %}
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-sm-4 tracks-program-container">
            <div class="row">
                <div class="col-sm-1 col-xs-3"></div>
                <div class="col-sm-10 col-xs-6" style="padding:0px;">
                    <div style="text-align:center">
                        <a target="_blank" href="{{program.link}}">
                            <div class="tracks-program-img" style="background-image:url('{{program.snapshot}}');">
                            </div>
                        </a>
                    </div>
                    <div class="tracks-program-date">
                        <p class="pull-left">{{program.start_date}}</p>
                        <p class="pull-right">{{program.num_spots}} SPOTS</p>
                    </div>
                    <div class="tracks-program-copy-container">
                        <p class="tracks-program-title">{{program.title}}</p>
                        <p class="tracks-program-desc">{{program.description}}</p>
                    </div>
                    <div class="white-background align-center">
                        <div class="tracks-program-button-container">
                            <a target="_blank" href="{{program.link}}" onclick="ga('send', 'event', 'Tracks Page', 'click', 'Learn More Button - Past ' + '{{ program.link }}')">
                                <button class="learn-more-button" value="LEARN MORE">LEARN MORE</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-xs-3"></div>
            </div>
        </div>
	    {% if not forloop.last and forloop.counter|divisibleby:"3" %}
            </div>
            <div class="row">
        {% elif forloop.last %}
            </div>
	    {% endif %}
	{% endfor %}
</div>