<div id='{{track.id}}' class="service-carousel track-program-listing row" style="{% if counter != 1 %}display:none{% endif %}">
    <div class="col-sm-12">
        {% for program in track.programs %}
            {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-sm-4 tracks-program-container">
                <div class="white-background" style="padding:0px;">
                    <div class="tracks-program-img-container">
                        <a>
                            <div class="tracks-program-img" style="background-image:url('{{program.snapshot}}');">
                            </div>
                        </a>
                    </div>
                    <div class="tracks-program-date">
                        <p class="pull-left">{{program.start_date}}</p>
                        <p class="pull-right">{{program.num_spots}} SPOTS</p>
                    </div>
                    <div class="tracks-program-copy-container">
                        <h3 class="tracks-program-title">{{program.title}}</h3>
                        <p class="tracks-program-desc">{{program.description}}</p>
                    </div>
                    <div class="tracks-program-button-container white-background align-center">
                        <a href="{{ program.link }}" onclick="ga('send', 'event', 'Tracks Page', 'click', 'Learn More Button - Past ' + '{{ program.link }}');distinct_id = mixpanel.get_distinct_id();mixpanel.identify(distinct_id);mixpanel.people.set();mixpanel.track('track_click', {'program': '{{ program.title }}' })">
                            <button class="learn-more-button" value="LEARN MORE">LEARN MORE</button>
                        </a>
                    </div>
                </div>
            </div>
            {% if not forloop.last and forloop.counter|divisibleby:"3" %}
                </div>
                <div class="row">
            {% elif forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>