body:after{
    display:none;
    content: url('/assets/img/landing/light-gate.png');
}

.landing-nav {
    position: fixed;
    top: 47px;
    left: 0;
}

.landing-nav ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.landing-nav li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
}

.landing-nav li a{
    padding-left: 20px;
    color:#e58170;
}

x.landing-nav li a:hover{
    text-shadow: 2px 2px #ff0000;
}

/* dropdown */
.dropdown {
    width: 12%;
}

.dropdown-menu{
    max-width:800%;
    min-width:550%;
    max-height:550%;
    overflow: auto;
    overflow-y: scroll;
    padding: 0px;
    border: 1px solid black;
}

.dropdown-menu>li{
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu li a:hover {
    color:#45acbf;
    background: none;
}

.dropdown-menu li a:active {
    color:black;
    background: #45acbf;
}

.haggle-filler {
}

.haggle-reduce {
}

.haggle-reduce-further {
}

.haggle-white-background {
    background-color:#ffffff;
}

.haggle-gray-bg {
    background-color:#f2f2f2;
}

.haggle-contact-section {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color:#666666;
    line-height: 18px;
    margin:0px;
    text-align:center;
    display:block;
}

.modal {
    overflow: auto;
    max-height: 95%;
    max-width: 95%;
}

.haggle-modal-dialog-header {
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    line-height:25px;
    color:#ffffff;
    font-size:20px
}

.haggle-modal-dialog-body label{
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    color:#666666;
    line-height:20px;
    font-size:14px
}

.haggle-modal-dialog-body div{
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    color:#666666;
    line-height:20px;
    font-size:14px
}

input[type="image"]:focus {outline:none;}

.pageContainer {
    display: inline;
    height: 100%;
}

.page {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}

hr{
    background-color: #d0d0d0;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
}

.haggle-logo{
    background: url('/assets/img/Haggle_Logo_navbar.png') no-repeat center;
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top:10px;
    font-family:'Brush Script MT';
    color:#ffffff;
    font-size:30px;
    font-style:italic;
}

.haggle-logo-small{
    width: 50%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

.hide-element{
    visibility: hidden;
    display: none;
}

/* Global Styling */

.wrap {
    min-height: 100%;
}

.content-page {
}

html {
    background: #fff;
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: none;
    height: 100%;
}

@media (max-width: 767px) {
    body{
        padding-left: 2px;
        padding-right: 2px;
    }
    .wrap {
        min-width: 100%;
    }
    /*p{
        font-size:50%;
    }*/
    .content-page li{
        font-size:50%;
    }
    .haggle-filler {
        visibility: hidden;
        display: none;
    }
    .row [class*="col-md-"] {
        padding-left:2%;
        padding-right:2%;
    }
    .haggle-reduce {
        max-width: 75% !important;
    }
    .haggle-reduce-further {
        max-width: 55% !important;
    }
    .modal {
        position: fixed;
    }
    img.pd-t {
        padding-top:0px !important;
    }
    .row [class*="hr-span"] {
        min-height: 3px;
        max-height: 3px;
    }
    .hr-span hr{
        margin: 0px;
    }
    .increase-input-width {
        width: 95% !important;
    }
}

.main {
    overflow: auto;
    padding-bottom: 0px;
    padding-top: 0px;
}

@media (min-width: 979px) {
    .main {
        overflow: auto;
        padding-bottom: 70px;
    }
}

.footer-link a {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.footer-link a:hover {
    color: #c6c0be;
}

.clear {
    clear: both;
}

/* Fonts */

@font-face {
    font-family: 'WhitneyHTFBold';
    src: url('../fonts/whitneyhtf-bold-webfont.eot');
    src: url('../fonts/whitneyhtf-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/whitneyhtf-bold-webfont.woff') format('woff'), url('../fonts/whitneyhtf-bold-webfont.ttf') format('truetype'), url('../fonts/whitneyhtf-bold-webfont.svg#WhitneyHTFBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WhitneyHTFMediumRegular';
    src: url('../fonts/whitneyhtf-medium-webfont.eot');
    src: url('../fonts/whitneyhtf-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/whitneyhtf-medium-webfont.woff') format('woff'), url('../fonts/whitneyhtf-medium-webfont.ttf') format('truetype'), url('../fonts/whitneyhtf-medium-webfont.svg#WhitneyHTFMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Footer Styling */

footer {
    height: 60px;
}

.navbar{
    margin-bottom: 0;
    -webkit-transition: -webkit-transform 2s;
    /*-webkit-transform: translateY(-100%);*/
}

#navbar-fluid {
    -webkit-transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s;
}

.navbar-inner {
    background-color: rgba(48,46,46,0.95);
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}

.nav>li>a {
    -webkit-transition: color 1s;
}

.nav-bg {
    -webkit-transition: -webkit-transform 1s;
    -webkit-transform: translateY(-100%);
}

.navbar .nav>li>a{
    padding-left:10px;
    padding-right:10px;
    text-shadow : none;
    height: 100%;
}

.navbar .nav>li{
    float: left !important;
}

.navbar .nav>li>a.hover-enabled:hover{
    color:#ffffff !important;
    background: none !important;
}

.navbar .nav>li>a.hover-enabled:active{
    color:#ffffff !important;
}

.navbar .nav>li>a.tbd{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color:#be6d5f;
}

.navbar-fixed-top .navbar-inner {
    border-width: 0 0 0px !important;
}

@media (max-width: 1150px) {
    .collapse-979 {  display: none; }
}

@media (max-width: 979px) {
    .collapse-820 {  display: none; }
    .show-820 { display:block !important; }
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        position: fixed;
        margin-left: 0px;
        margin-right: 0px;
    }
    .navbar .nav>li>a{
        padding-top:8px;
        padding-bottom:5px;
        padding-left:10px;
        color:#ffffff;
        text-align: center;
        font-family:'Brush Script MT';
        height: 100%;
        min-height:40px;
    }
    .navbar .nav>li{
        padding-left:10px;
        text-align: center;
    }
    .dropdown>a{
        padding-top:20px;
    }  
    .nav{
        width:100%;
        background: url('/assets/img/landing/beagles-grunge-small-wide.png') no-repeat center;
        background-size: 50px 30px;
    }
    .navbar .nav{
        max-height: 35px;
    }
    .nav>li>a>img {
        height:20px;
        padding-top:10px;
    }
    .navbar-inner{
        min-height:10px;
    }
    .navbar-fixed-top .navbar-inner {
        padding: 5px;
    }
}

.vendor-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    /*max-width: 99% !important;*/
}

.nav>li>a {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #adacac;;
    padding-top: 15px;
    padding-bottom: 15px;
}

.blur {
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
}

.empty-row {
    min-height: 20px;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}