{% extends "community_base.html" %}

{% block Styles %}
<link href="/assets/css/mobile/landing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
        <div class="section1">
            <img src="/assets/img/landing/beagles-logo-large.png" class="section1-logo">
            <span class="section1-copy section1-copy1">TRANSFORM THE WAY</span><br>
            <span class="section1-copy section1-copy2">YOU WORK, LEARN</span><br>
            <span class="section1-copy section1-copy3">& THRIVE</span><br>
        </div>
        <div class="section2 centered">
            <p class="section2-copy1 section2-copy">
                WELCOME TO THE BEAGLES LOFT, BANGALORE'S PLAYGROUND FOR STARTUPS, INNOVATORS, ARTISTS AND NERDS IN GENERAL.
            </p>
            <p class="section2-copy2 section2-copy">
                COME IN, SIT, HAVE SOME TEA & HANG WITH THE SMARTEST, MOST INTERESTING PEOPLE IN TOWN. PEOPLE LIKE YOU.
            </p>
        </div>
        <div class="section3">
            <div id="section3-carousel" class="carousel slide section3-carousel" data-interval="4000" data-pause="false">
                <ol class="landing-carousel-indicators carousel-indicators">
                    <li data-target="#section3-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#section3-carousel" data-slide-to="1"></li>
                    <li data-target="#section3-carousel" data-slide-to="2"></li>
                    <li data-target="#section3-carousel" data-slide-to="3"></li>
                    <li data-target="#section3-carousel" data-slide-to="4"></li>
                    <li data-target="#section3-carousel" data-slide-to="5"></li>
                    <li data-target="#section3-carousel" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active section3-carousel-item" style="background-image:url('/assets/img/landing/light-gate.jpg');">
                    </div>
                    <div class="item section3-carousel-item" style="background-image:url('/assets/img/landing/02.jpg');">
                    </div>
                    <div class="item section3-carousel-item" style="background-image:url('/assets/img/landing/03.jpg');">
                    </div>
                    <div class="item section3-carousel-item" style="background-image:url('/assets/img/landing/04.jpg');">
                    </div>
                    <div class="item section3-carousel-item" style="background-image:url('/assets/img/landing/05.jpg');">
                    </div>
                    <div class="item section3-carousel-item" style="background-image:url('/assets/img/landing/06.jpg');">
                    </div>
                    <div class="item section3-carousel-item" style="background-image:url('/assets/img/landing/07.jpg');">
                    </div>
                </div>
            </div>
        </div>
        <div class="section4 centered">
            <div class="section4-copy">
                <p class="section4-title">
                    OUR VALUES
                </p>
                <p class="section4-copy1">
                    <i>At The Beagles Loft, we abide by three main mantras:</i>
                </p>
                <p class="section4-subtitle">
                    MAKE A <br>BIG IMPACT
                </p>
                <p class="section4-copy2">
                    The world is too big not to do big things. We want you to work on things that impact a billion people. Knock on our front door with a purpose or don’t expect the doorman to let you in.
                </p>
                <p class="section4-subtitle">
                    FOCUS, NO <br>HOCUS POCUS
                </p>
                <p class="section4-copy2">
                    Whether it’s access to venture capitalists, coders who can actually code, strong coffee, or event space, everything you need to work on your big idea is available and free.
                </p>
                <p class="section4-subtitle">
                    YEARN, <br>DON'T BURN
                </p>
                <p class="section4-copy2">
                    Be a dreamer, be a fixer, be an inventor flying kites in the storm. Fail as much as you can handle, but complain and do nothing and you’ll find yourself locked out.
                </p>
            </div>
        </div>
        <div class="section5">
            <div class="section5-background">
                <p class="section5-copy">
                    WE'RE NOT AN ACCELERATOR, AN
                    INCUBATOR, OR A COWORKING SPACE;
                    WE'RE A PLAYGROUND FOR
                    INNOVATORS AND ARTISTS.
                </p>
                <p class="section5-copy">
                    WE'RE NOT AN ACCELERATOR, AN
                    INCUBATOR, OR A COWORKING SPACE;
                    WE'RE A PLAYGROUND FOR
                    INNOVATORS AND ARTISTS.
                </p>
            </div>
        </div>
        <div class="section6">
            <p class="section6-title section6-content">
                WHY BEAGLES LOFT?
            </p>
            <p class="section6-copy section6-content">
                <i>The name is inspired by an old basketball playground in
                Bangalore. In this playground, we built friendships that
                have lasted the length of our current lives, we discussed
                how we'd disrupt the status quo and we tinkered with
                technology and music. We often underestimate the value
                of these playgrounds in our lives, but these little
                playgrounds offer the three key tools that are sufficient
                to work on the really big ideas that can push life forward
                - community, disruptive ideas and a framework for
                tinkering.</i>
            </p>
        </div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/mobile/landing.js"></script>
{% endblock %}