{% extends "mobile/mobile_base.html" %}

{% block Styles %}
<link href="/assets/css/mobile/landing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
        <div class="section1">
            <img src="/assets/img/landing/beagles-logo-large.png" class="section1-logo">
            <p class="section1-title">KNOCK TWICE FOR REVOLUTION</p>
        </div>
        <div class="section3">
            <div id="section3-carousel" class="carousel slide section3-carousel" data-interval="4000" data-pause="false">
                <ol class="landing-carousel-indicators carousel-indicators">
                    <li data-target="#section3-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#section3-carousel" data-slide-to="1"></li>
                    <li data-target="#section3-carousel" data-slide-to="2"></li>
                    <li data-target="#section3-carousel" data-slide-to="3"></li>
                    <li data-target="#section3-carousel" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active section3-carousel-item" style="background-image:url('/assets/img/landing/light-gate.jpg');">
                    </div>
                    <div class="item section3-carousel-item" style="background-image:url('/assets/img/landing/02.jpg');">
                    </div>
                    <div class="item section3-carousel-item" style="background-image:url('/assets/img/landing/03.jpg');">
                    </div>
                    <div class="item section3-carousel-item" style="background-image:url('/assets/img/landing/04.jpg');">
                    </div>
                    <div class="item section3-carousel-item" style="background-image:url('/assets/img/landing/05.jpg');">
                    </div>
                </div>
                <a class="left carousel-control" href="#section3-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#section3-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div id="value-to-services" class="light-gray-background">
            <div class="width940 section-content">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="black-font uppercase align-center">We embed your staff into our global startup community so they are trained in new technologies, design, processes and tools</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 align-center">
                        <img class="value-img" src="/assets/img/landing/value_up_arrow.png">
                        <h3>INCREASE YOUR REVENUE PER EMPLOYEE<br>FROM $50K to $75K</h3>
                    </div>
                    <div class="col-sm-6 align-center">
                        <img class="value-img" src="/assets/img/landing/value_down_arrow.png">
                        <h3>DECREASE YOUR ATTRITION RATES<br>BY UPTO 30%</h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="services" class="white-background">
            <div class="width940 section-content">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="black-font uppercase align-center">WHAT WE OFFER</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="service-carousel-container">
                            {% for service in services %}
                                {% include "components/image_carousel.html" with carousel=service.carousel loop_count=forloop.counter %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="service-container">
                        {% for service in services %}
                        <li>
                            <a class="service-logo" href="#" style="background-image:url('{% if forloop.counter == 1 %}{{service.highlight_icon}}{% else %}{{service.icon}}{% endif %}');">
                            </a>
                            <h3 class="black-font uppercase service-name">{{service.name}}</h3>
                            <input type="hidden" name="highlight_icon" value="{{service.highlight_icon}}"></input>
                            <input type="hidden" name="icon" value="{{service.icon}}"></input>
                            <input type="hidden" name="carousel_id" value="#{{service.carousel.id}}"></input>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="signup" class="beaglesloft-red-background">
            <div class="width940 section-content align-center">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="white-font">SIGN UP TO UPGRADE YOUR WORKFORCE</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <form id="signup-form" action="/api/members/add_email" method="POST">
                            {% include "components/form_input.html" with id="signup-email" name="signup-email" type="email" placeholder="EMAIL" classes="signup-email-box" %}
                            {% include "components/form_submit.html" with id="signup-submit" name="signup-submit" value="SIGN UP" classes="signup-submit" %}
                        </form>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div id="signup-message" class="row hide-element">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <h3 class="white-font">THANK YOU FOR SIGNING UP!</h3>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
        <div class="section4 centered">
            <div class="section4-copy">
                <p class="section4-title">
                    OUR VALUES
                </p>
                <p class="section4-copy1">
                    <i>At The Beagles Loft, we abide by three main mantras:</i>
                </p>
                <p class="section4-subtitle">
                    MAKE A <br>BIG IMPACT
                </p>
                <p class="section4-copy2">
                    The world is too big not to do big things. We want you to work on things that impact a billion people. Knock on our front door with a purpose or don’t expect the doorman to let you in.
                </p>
                <p class="section4-subtitle">
                    FOCUS, NO <br>HOCUS POCUS
                </p>
                <p class="section4-copy2">
                    Whether it’s access to venture capitalists, coders who can actually code, strong coffee, or event space, everything you need to work on your big idea is available and free.
                </p>
                <p class="section4-subtitle">
                    YEARN, <br>DON'T BURN
                </p>
                <p class="section4-copy2">
                    Be a dreamer, be a fixer, be an inventor flying kites in the storm. Fail as much as you can handle, but complain and do nothing and you’ll find yourself locked out.
                </p>
            </div>
        </div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/mobile/landing.js"></script>
<script src="/assets/js/mobile/jquery.mobile.custom.min.js"></script>
{% endblock %}