.centered {
    text-align: center;
    margin: auto;
}

.section1 {
    height: 400px;
    background: no-repeat url('/assets/img/landing/dark-gate.jpg');
    background-size: cover;
}

.section1-logo {
    height: 84px;
    width: 84px;
    padding-top: 20px;
    padding-left:20px;
    display: block;
}

.section1-copy {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding:15px;
    text-align:left;
    width:auto;
    background-color:#c62530;
    color:#ffffff;
    margin: 0px;
    display: inline-block;
}

.section1-copy1 {
    margin-top: 25px;
}

.section1-copy2, .section1-copy3 {
    margin-top: 5px;
}

.section2 {
    height: 372px;
    background-color:#e8e4dc;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section2-copy {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-align: left;
    max-width: 255px;
    margin: auto;
}

.section2-copy1 {
    font-size:23px;
    color:#2c2b27;
}

.section2-copy2 {
    font-size:21px;
    color:#8b8a87;
    margin-top: 20px;
}

.section3 {
    height: 300px;
}

.section3-carousel {
    height: 100%;
}

.carousel-inner>.item {
    -webkit-transition: .6s cubic-bezier(1,1,1,1) left;
    transition: .6s cubic-bezier(1,1,1,1) left;
}

.carousel-inner {
    height:100%;
}

.section3-carousel-item {
    text-align:center;
    height:100%;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-origin: center center;
    background-position: fixed;
}

.section3-carousel-item-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 38px;
    padding:20px;
    text-align:left;
    position:absolute;
    width:auto;
    background-color:#c62530;
    color:#ffffff;
    top:75%;
    z-index:20;
    left:0%;
    margin: 0px;
}

.section4 {
    height: 1200px;
}

.section4-copy {
    max-width: 255px;
    margin: auto;
}

.section4-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    color: #c62530;
    margin:0px;
    padding:0px;
    padding-top:50px;
    text-align:left;
}

.section4-copy1 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #727272;
    margin:0px;
    padding:0px;
    padding-top:30px;
    text-align:left;
}

.section4-subtitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 33px;
    color: #000000;
    text-align:left;
    margin-top: 40px;
}

.section4-copy2 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #757575;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
}

.section5 {
    height: 700px;
    background-color:#c72430;
    position: relative;
}

.section5-background {
    background:url('/assets/img/landing/loft-texture.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    left:0%;
    z-index:10;
    position:absolute;
    height: 100%;
    width: 100%;
}

.section5-copy {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #222222;
    text-align: left;
    max-width: 255px;
    margin: auto;
    margin-top: 50px;
}

.section6 {
    height: 719px;
    background:url('/assets/img/landing/basketball-court.png') center center fixed;
    background-size: cover;
    background-color:#444444;
}

.section6-content {
    max-width: 255px;
    margin: auto;
}

.section6-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: #ffffff;
    text-align:left;
    padding-top: 32px;
}

.section6-copy {
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #e5edec;
    text-align: left;
    line-height: 28px;
    margin-top: 36px;
}