.centered {
    text-align: center;
    margin: auto;
}

.section1 {
    height: 400px;
    background: no-repeat url('/assets/img/landing/dark-gate.jpg');
    background-size: cover;
    padding-top: 118px;
    text-align: center;
}

.section1-logo {
    height: 84px;
    width: 64px;
    padding-top: 20px;
    display: block;
    margin: auto;
}

.section1-title {
    margin: auto;
    color: #c62530;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 46px;
}

.section2 {
    height: 240px;
    background-color:#e8e4dc;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section2-copy {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-align: left;
    max-width: 255px;
    margin: auto;
}

.section2-copy1 {
    font-size:23px;
    color:#2c2b27;
}

.section3 {
    height: 300px;
}

.section3-carousel {
    height: 100%;
}

.carousel-inner>.item {
    -webkit-transition: .6s cubic-bezier(1,1,1,1) left;
    transition: .6s cubic-bezier(1,1,1,1) left;
}

.carousel-inner {
    height:100%;
}

.section3-carousel-item {
    text-align:center;
    height:100%;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center;
}

.section3-carousel-item-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 38px;
    padding:20px;
    text-align:left;
    position:absolute;
    width:auto;
    background-color:#c62530;
    color:#ffffff;
    top:75%;
    z-index:20;
    left:0%;
    margin: 0px;
}

.section4 {
    height: 1200px;
}

.section4-copy {
    max-width: 255px;
    margin: auto;
}

.section4-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    color: #c62530;
    margin:0px;
    padding:0px;
    padding-top:50px;
    text-align:left;
}

.section4-copy1 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #727272;
    margin:0px;
    padding:0px;
    padding-top:30px;
    text-align:left;
}

.section4-subtitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 33px;
    color: #000000;
    text-align:left;
    margin-top: 40px;
}

.section4-copy2 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #757575;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
}

.landing-carousel-item {
    text-align:center;
    height:100%;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

#services .row, #value-to-services .row, #signup .row {
    padding-top: 48px;
}

#services .row:first-child, #value-to-services .row:first-child, #signup .row:first-child{
    padding-top: 0px;
}

#value-to-services ul {
    height: 70px !important;
    display: block !important;
    text-align: center;
}

#value-to-services .row [class*="col-sm-"], #services .row [class*="col-sm-"] {
    padding-top: 48px;
}

#value-to-services .row [class*="col-sm-"]:first-child, #services .row [class*="col-sm-"]:first-child {
    padding-top: 0px;
}

.value-img {
    height: 100px;
    width: 100px;
}

.service-icon-container, .service-icon {
    height: 50px;
    width: 50px;
}

.service-container {
    cursor: pointer;
    list-style: none;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    display: table;
}

.service-container li h3 {
    padding-top: 0px !important;
}

.service-name {
    display: none;
}

.service-carousel-container {
    height: 480px;
}

.service-container li {
    display: inline;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.signup-email-box {
    background-color: rgba(235, 235, 235, 0.1);
    width: 260px;
    height: 34px;
    border: none;
    font-family: Oswald;
    font-size: 12px;
    font-weight: 600;
    padding-left: 15px;
}

.signup-submit {
    background-color: #ebebeb;
    width: 100px;
    height: 34px;
    font-family: Oswald;
    color:  #333333;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    border: none;
}

.service-logo {
    background-size: contain !important;
    width: 50px;
    height: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: block;
}

.service-carousel-container .glyphicon-chevron-right:before, .service-carousel-container .glyphicon-chevron-left:before {
    content: none;
}