{% extends "desktop/desktop_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
<link href="/assets/css/common/subscribe_newsletter.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="subscribe-newsletter" class="subscribe-newsletter">
    <img id="dark-gate" src="/assets/img/landing/dark-gate.png" class="bg">
    <img id="light-gate" src="//assets/img/landing/landing_carousel/1.png" class="bg" style="display:none">
    <div class="main-content">
        <img class="logo" src="/assets/img/landing/bl-logo-intro.png">
        <div class="separator"></div>
        <p id="message" class="message">ENTER YOUR DETAILS TO SUBSCRIBE TO THE NEWSLETTER</p>
        <div class="separator"></div>
        <div class="form-container">
            <form id="subscribe-form" action="/api/members/subscribe_to_newsletter" method="POST">
                <div>
                    <input class="form-control subscription-input" id="email" name="email" placeholder="Email">
                    <input class="form-control subscription-input" id="fname" name="fname" placeholder="First Name">
                    <input class="form-control subscription-input" id="lname" name="lname" placeholder="Last Name">
                    <div class="subscribe-button" onclick="subscribe()">SUBSCRIBE</div>
                    <p id="subscription-message" class="subscription-message"></p>
                </div>
            </form>
        </div>
        <div class="bottom-separator"></div>
    </div>
</div>
{% endblock %}

{% block CustomScripts %}
        <script src="/assets/js/common/subscribe_newsletter.js"></script>
{% endblock %}