{% extends "desktop/desktop_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
<link href="/assets/css/member_register.css" type="text/css" rel="stylesheet">
<link href="/assets/css/desktop/newsletters.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="newsletters" class="full-width newsletters-container">
    <div class="full-width newsletters-body">
        <div class="full-width landing-carousel-item newsletters-header">
            <div class="newsletters-header-title"><p class="page_heading">NEWSLETTERS</p></div>
        </div>
        <div class="full-width newsletters-subscribe-outer-container">
            <div class="newsletters-subscribe-inner-container">
                <p class="page-select newsletters-subscribe" onclick="window.location.href='/subscribe_newsletter'">SUBSCRIBE TO NEWSLETTER</p>
            </div>
        </div>
        <div class="tab-page newsletters-list-container" id="newsletters-list">
            {% for k, v in newsletters.items %}
                <div class="newsletters-row">
                    {% for newsletter in v %}
                        <div class="newsletter-container">
                            <div class="newsletter-image-container"><a target="_blank" href="{{newsletter.link}}"><div class="newsletter-image" style="background-image:url('{% if newsletter.snapshot %}/api/common/download_image/{{newsletter.snapshot}}{% else %}/assets/img/landing/xino.jpeg{% endif %}');"></div></a></div>
                            <div class="newsletter-date"><p>{{newsletter.date}}</p></div>
                            <div class="learn-more-button-outer">
                                <div class="learn-more-button-inner">
                                    <a target="_blank" href="{{newsletter.link}}" onclick="ga('send', 'newsletter', 'Newsletters Page', 'click', 'Learn More Button - Past ' + '{{ newsletter.link }}')">
                                        <button class="learn-more-button" value="LEARN MORE">LEARN MORE</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% if not forloop.last %}
                            <div class="newsletter-container-separator">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if not forloop.last %}
                    <div class="newsletters-row-separator">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <footer class="beaglesloft-footer">
        <a href="https://twitter.com/BeaglesLoft" target="_blank">
            <img style="margin-left:10px;margin-right:10px;vertical-align:top;" src="/assets/img/landing/tw.png">
        </a>
        <a href="https://twitter.com/BeaglesLoft" target="_blank">
            FOLLOW US ON TWITTER
        </a>
        <a href="https://www.facebook.com/beaglesloft" target="_blank" style="margin-left:30px;">
            <img style="margin-left:10px;margin-right:10px;vertical-align:top;" src="/assets/img/landing/fb.png">
        </a>
        <a href="https://www.facebook.com/beaglesloft" target="_blank">
            LIKE US ON FACEBOOK
        </a>
    </footer>
</div>
{% endblock %}

{% block CustomScripts %}
<script src="/assets/js/events.js"></script>
{% endblock %}