{% extends "desktop/desktop_base.html" %}

{% block Styles %}
<link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
<link href="/assets/css/member_register.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="newsletters" style="background-color:#f2f2f2;margin:0px;" class="full-width">
    <div class="full-width" style="text-align:center">
        <div class="full-width landing-carousel-item" style="height:340px;background: url('/assets/img/landing/events-header.jpg') center center no-repeat;">
            <div style="height:135px"></div>
            <div style="height:90px;width:460px;margin:auto;background-color:#c62530;color:#ffffff;padding:20px;"><p class="page_heading">NEWSLETTERS</p></div>
        </div>
        <div class="full-width" style="height:60px;background-color:#ffffff;text-align:center;">
            <div style="height:60px;width:940px;margin:auto;"></div>
        </div>
        <div class="tab-page" id="newsletters-list" style="width:940px;margin:auto;">
            <div style="height:35px;"></div>
            <div>
                {% for k, v in newsletters.items %}
                    <div style="height:300px;">
                        {% for newsletter in v %}
                            <div style="width:300px;height:300px;display:inline-block;float:left;">
                                <div style="text-align:center"><a target="_blank" href="{{newsletter.link}}"><div style="height:175px;width:300px;background-image:url('{% if newsletter.snapshot %}/api/common/download_image/{{newsletter.snapshot}}{% else %}/assets/img/landing/xino.jpeg{% endif %}');background-position: center;background-size: cover;background-repeat: no-repeat;"></div></a></div>
                                <div style="height:42px;border-bottom: 1px solid lightgrey;background-color:#ffffff;font-family: 'Oswald', sans-serif;font-weight: 500;font-size:14px;color:#535353;padding:14px;line-height:14px;text-transform:uppercase;"><p>{{newsletter.date}}</p></div>
                                <div style="height:80px;background-color:#ffffff;text-align:center;">
                                    <div style="height:20px"></div>
                                    <div style="height:40px;margin:auto;width:260px;">
                                        <a target="_blank" href="{{newsletter.link}}" onclick="ga('send', 'newsletter', 'Newsletters Page', 'click', 'Learn More Button - Past ' + '{{ newsletter.link }}')">
                                            <button class="learn-more-button" value="LEARN MORE">LEARN MORE</button>
                                        </a>
                                    </div>
                                    <div style="height:20px"></div>
                                </div>
                            </div>
                            {% if not forloop.last %}
                                <div style="width:20px;height:300px;display:inline-block;float:left;">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if not forloop.last %}
                        <div style="height:24px;">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div style="height:165px;"></div>
        </div>
    </div>
    <footer class="beaglesloft-footer">
        <a href="https://twitter.com/BeaglesLoft" target="_blank">
            <img style="margin-left:10px;margin-right:10px;vertical-align:top;" src="/assets/img/landing/tw.png">
        </a>
        <a href="https://twitter.com/BeaglesLoft" target="_blank">
            FOLLOW US ON TWITTER
        </a>
        <a href="https://www.facebook.com/beaglesloft" target="_blank" style="margin-left:30px;">
            <img style="margin-left:10px;margin-right:10px;vertical-align:top;" src="/assets/img/landing/fb.png">
        </a>
        <a href="https://www.facebook.com/beaglesloft" target="_blank">
            LIKE US ON FACEBOOK
        </a>
    </footer>
</div>
{% endblock %}

{% block CustomScripts %}
<script src="/assets/js/events.js"></script>
{% endblock %}