{% extends "mobile/mobile_base.html" %}

{% block Styles %}
<link href="/assets/css/mobile/events.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
    <div class="section1">
        <span class="section1-title">EVENTS AT THE BEAGLES LOFT</span>
    </div>
    <div class="section2"></div>
    <div class="section3">
        <p class="section3-title">UPCOMING EVENTS</p>
        {% if upcoming_events.0 %}
            <div class="section3-event-table-container">
                <div class="section3-event-table">
                    <table>
                        <tbody>
                            <tr>
                                {% for event in upcoming_events %}
                                <td class="section3-event-container section3-event-table-item">
                                    <div><a target="_blank" href="{{event.link}}"><div class="section3-event-image" style="background-image:url('{% if event.snapshot %}/api/common/download_image/{{event.snapshot}}{% else %}/assets/img/landing/xino.jpeg{% endif %}');"></div></a></div>
                                    <div class="section3-event-date-attendees"><p class="pull-left">{{event.date}}</p><p class="pull-right">{{event.attendees}} PARTICIPANTS</p></div>
                                    <div class="section3-event-name-desc">
                                        <p class="section3-event-name">{{event.name}}</p>
                                        <p class="section3-event-desc">{{event.description}}</p>
                                    </div>
                                    <div class="section3-upcoming-button-container">
                                        <a target="_blank" href="{{event.link}}" onclick="ga('send', 'event', 'Events Page', 'click', 'Learn More Button - Past ' + '{{ event.link }}')">
                                            <button class="section3-learn-more-button" value="LEARN MORE">LEARN MORE</button>
                                        </a>
                                    </div>
                                </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
        <div class="section3-event-container">
            <div class="section3-event-image" style="background-image:url('/assets/img/landing/loftlaunch.jpg');"></div>
            <div class="section3-event-date-attendees"><p class="pull-left">COMING SOON</p></div>
            <div class="section3-event-name-desc">
                <p class="section3-event-name">NEXT EXCITING EVENT SOON!</p>
                <p class="section3-event-desc">Check out this space for the next exciting event at the Loft very soon!</p>
            </div>
        </div>
        {% endif %}
        <p class="section3-title">PAST EVENTS</p>
        <div class="section3-event-table-container">
            <div class="section3-event-table">
                <table>
                    <tbody>
                        <tr>
                            {% for k, v in past_events.items %}
                                {% for event in v %}
                                    <td class="section3-event-container section3-event-table-item">
                                        <div><a target="_blank" href="{{event.link}}"><div class="section3-event-image" style="background-image:url('{% if event.snapshot %}/api/common/download_image/{{event.snapshot}}{% else %}/assets/img/landing/loftlaunch.jpg{% endif %}');"></div></a></div>
                                        <div class="section3-event-date-attendees"><p class="pull-left">{{event.date}}</p><p class="pull-right">{{event.attendees}} PARTICIPANTS</p></div>
                                        <div class="section3-event-name-desc">
                                            <p class="section3-event-name">{{event.name}}</p>
                                            <p class="section3-event-desc">{{event.description}}</p>
                                        </div>
                                        <div class="section3-upcoming-button-container">
                                            <a target="_blank" href="{{event.link}}" onclick="ga('send', 'event', 'Events Page', 'click', 'Learn More Button - Past ' + '{{ event.link }}')">
                                                <button class="section3-learn-more-button" value="LEARN MORE">LEARN MORE</button>
                                            </a>
                                        </div>
                                    </td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
<!--<script src="/assets/js/mobile/events.js"></script>-->
{% endblock %}