{% extends "desktop/desktop_base.html" %}

{% block Styles %}
<link href="/assets/css/sass_out/member_access.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div id="member-access" class="member-access">
    <input type="hidden" id="redirect-url" value="{{redirect_url}}">
    <div class="centered-fullscreen" >
        <img class="logo" src="/assets/img/landing/bl-logo-intro.png">
        <div id="login-dialog" class="login-dialog">
            <form id="login-form" action="/members/login?redirect_url={{ redirect_url }}" method="POST">
                <div>
                    <input class="form-control authentication-input" id="email" name="email" placeholder="Email">
                    <input class="form-control authentication-input" id="password" name="password" type="password" placeholder="Password">
                    <div class="sign-in" onclick="submitAuthentication()">SIGN IN</div>
                    <p id="authentication-message" class="authentication-message"></p>
                </div>
            </form>
        </div>
        <div id="signup-button" class="sign-up-container">
            <a href="/member_registration"><div class="sign-up">SIGN UP</div></a>
            <p id="authentication-message" class="authentication-message"></p>
        </div>
        {% if not is_member %}<p id="message-login" class="message-login-container" onclick="showLoginDialog()">ALREADY MEMBER <a class="message-login">LOGIN</a></p>{% endif %}
    </div>
</div>
{% endblock %}

{% block CustomScripts %}
<script src="/assets/js/member_access.js"></script>
{% endblock %}