$red_color: #c62530;
$white_color: #ffffff;
$black_color: #000000;
$grey_color: #f2f2f2;
$dark_grey_color: #777777;
$bright_red_color: #FF0017;
$transparent_color: transparent;
$header_font: 'Oswald', sans-serif;

$h2_font_size: 30px;
$normal_padding: 15px;
$small_padding: 24px;
$medium_padding: 48px;
$navbar_height: 70px;
$navbar_color: rgba(48,46,46,0.95);
$font_size_20: 20px;
$font_size_30: 30px;
$font_weight_300: 300;