$red_color: #c62530;
$white_color: #ffffff;
$black_color: #000000;
$grey_color: #f2f2f2;
$bright_red_color: #FF0017;
$normal_padding: 15px;

$navbar_height: 70px;
$navbar_color: rgba(48,46,46,0.95);
$font_size_20: 20px;
$font_size_30: 30px;
$font_weight_300: 300;
