@import "partials/_images.scss";
@import "partials/_standards.scss";
@import "partials/_constants.scss";


.new-navbar {
	width: 100%;
	position: fixed;
	background: {
		color: $navbar_color;
		image: none;
		repeat: no-repeat;
	}
    z-index: 100;
    height: $navbar_height;
    text-align: center;
}

.navbar-content {
	margin: auto;
	width: 940px;
	height: $navbar_height;
	display: inline-block;
		
	.logo {
		height: $navbar_height;
		display: table-cell;
		vertical-align: middle;
		
		img {
			height: 50px;
			width: 50px;
		}
	}
}
