@import "partials/_images.scss";
@import "partials/_standards.scss";
@import "partials/_constants.scss";


.new-navbar {
	width: 100%;
	position: fixed;
	background: {
		color: $navbar_color;
		image: none;
		repeat: no-repeat;
	}
    z-index: 100;
    height: $navbar_height;
    text-align: center;
}

.navbar-content {
	display: inline-block;
	height: $navbar_height;
	display: table-cell;
	vertical-align: middle;

	#logo {
		float: left !important;
		height: 50px;
		width: 50px;
	}

	#tabs {
		float: right !important;
	}
}
