@import "partials/_text.scss";
@import "partials/_constants.scss";
@import "partials/_images.scss";
@import "partials/_standards.scss";

$next_text_font_size: 38px;
$checkout_text_font_size: 15px;

$screen-sm-min: 768px;

//Extends//
.position-bottom{
    position:absolute;
    bottom: 0;
}
//End Extends//


//Mixins//
@mixin carousel_text($height)
{
    color: $white_color;
    text-shadow:2px 2px #000000;
    padding: 0px;
    height: $height;
}
//End Mixins//

body{
	background-color: $grey_color;
}

.hero {
	@include hero('/assets/img/landing/events-header.jpg');
}

.white-bg{
	background-color: $white_color;
}

.view-option{
	padding: 20px 0;
	p{
		@include font_definition($oswald_font,$font_size_20,$font_weight_300);		
		display: inline;
		padding: 0px 10px;
        cursor: pointer;
	}
    #calendar-select{
        color: $red_color;
    }
}

.tab-page{
	.event-div-title{
		@include font_definition($oswald_font,$font_size_20,$font_weight_300);		
		padding: 30px 0px;
		margin: 0;
        text-align: center;
	}

}

.launch-image{
    height: 300px;
	background:{
        image: url('/assets/img/landing/loftlaunch.jpg');
	    repeat: no-repeat;
	    position: center;
        size: cover;
    }
    .separator1{
        @include padding_div(40px);
        @media (min-width: $screen-sm-min){
            @include padding_div(50px);
        }       
    }
    .separator2{
        @media (min-width: $screen-sm-min){
            @include padding_div(30px);
        }       
    }
    .event-name {
    	@include font_definition($oswald_font,26px,$font_weight_300);
        @include carousel_text(40px);
        text-transform: uppercase;
        div{
            @extend .position-bottom;
        }
        @media (min-width: $screen-sm-min){
            height: 60px;
            @include font_definition($oswald_font,$next_text_font_size,$font_weight_300);    
        }		
    }
    .event-date {
    	@include font_definition($oswald_font,18px,$font_weight_300);
    	@include carousel_text(40px);
        div{
            @extend .position-bottom;
        }
        @media (min-width: $screen-sm-min){
            height: 55px;
            @include font_definition($oswald_font,22px,$font_weight_300);    
        }       
    }
    .event-desc{
        @include font_definition($merriweather_font,12px,$font_weight_300);     
        @include carousel_text(70px);
        div{
            @extend .position-bottom;
        }           
        @media (min-width: $screen-sm-min){
            @include font_definition($merriweather_font,$checkout_text_font_size,$font_weight_300);     
            height: 80px;
        }       
    }
    .event-button{
        height: 60px;
        padding: 0px;
        div{
            @extend .position-bottom;
            a{
                text-decoration: none;
                p{
                    @include font_definition($oswald_font,14px,$font_weight_300);
                    color: $white_color;
                    background-color: $bright_red_color;
                    margin: 0px;
                    padding: {
                        top: 10px;
                        bottom: 10px;
                        left: 50px;
                        right: 50px;
                    }
                }
            }
        }
        @media (min-width: $screen-sm-min){
            height: 80px;
            div>a>p{
                padding: {
                    top: 20px;
                    bottom: 20px;
                    left: 70px;
                    right: 70px;
                }
            }
        }       
               
    }    
}

