@import "partials/_text.scss";
@import "partials/_constants.scss";
@import "partials/_images.scss";
@import "partials/_standards.scss";

$font_size_20: 20px;
$font_weight_300: 300;

body{
	background-color: $grey_color;
}

.hero {
	@include hero('/assets/img/landing/events-header.jpg');
}

.white-bg{
	background-color: $white_color;
}

.view-option{
	padding: 20px 0;
	p{
		@include font_definition($oswald_font,$font_size_20,$font_weight_300);		
		display: inline;
		padding: 0px 10px;
	}
}

.tab-page{
	p{
		@include font_definition($oswald_font,$font_size_20,$font_weight_300);		
		padding: 30px 10px;
		margin: 0;
	}
}

.launch-image{
	background-image: url('/assets/img/landing/loftlaunch.jpg');
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
}