@import "partials/_images.scss";
@import "partials/_standards.scss";
@import "partials/_constants.scss";

@keyframes disappear {
    from {display: block;}
    to {display: none !important;}
}

.logo-container {
	display: none;
}

#starting-animation-bg {
	@extend .background-image;
	background:url('/assets/img/landing/dark-gate.jpg');
	animation: {
		name: disappe;
		duration: 4s;
	}
	& p {
		color: $red_color;
		padding-top: $normal_padding;
		font: {
			family: $header_font;
			weight: 300;
			size: $h2_font_size;
		}
	}
}

#section1-carousel {
    .carousel-inner {
        .item {
            height: 100vh;
            width: 100vw;
        }
    }
}

.value-to-services {
    background: {
        color: $grey_color;
    }
    h2, h3 {
        color: $black_color;
    }
}

.heading {
    font: {
        family: $header_font;
        weight: 300;
        size: $h1_font_size;
    }
    @media (max-width: 767px) {
        font: {
            size: $h1_font_size_mob;
        }
    }
    padding: 20px;
    text-align: left;
    width: auto;
    margin: 0px;
}

.landing-carousel-heading {
    @extend .heading;
    position: absolute;
    top: 75%;
    z-index: 20;
    left: 0%;
}

.section1-heading {
    @extend .landing-carousel-heading;
    background-color: #ffffff;
    color: #c62530;
    margin-top: -94px;

    @media (max-width: 767px) {
        margin-top: -65px;
    }
}

.section1-sub-heading {
    @extend .landing-carousel-heading;
    background-color: #c62530;
    color: #ffffff;
}

.service-carousel-container {
    height: 480px;

    .landing-carousel-item {
        height: 100%;
    }

    .glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
        content: none;
    }
}

.membership {
    background: {
        color: $grey_color;
    }
    color: $black_color;
    .membership-plan {
        .membership-title {
            padding-bottom: $small_padding;
            border-bottom: 1px solid #ccc;
        }

        .small-copy {
            font-family: $merriweather_font;
            font-weight: 300;
            font-size: 13px;
        }

        h2 .small-copy {
            text-transform: lowercase;
            color: $dark_grey_color;
        }

        .small-copy, .learn-more-button, h2 {
            margin-top: $normal_padding;
        }

        .learn-more-button {
            @include learn_more_button($red_color, $button_font_size, $button_font_weight);
            max-width: 75%;
        }
    }
}

.signup {
    color: $white_color;
    background: {
        color: $red_color;
    }
    .signup-form {
        height: 34px;
        font-family: $oswald_font;
        font-size: 12px;
        border: none;
    }

    .signup-submit {
        @extend .signup-form;
        background-color: #ebebeb;
        width: 100px;
        color: $black_color;
        font-weight: 400;
        text-align: center;
    }

    .signup-email-box {
        @extend .signup-form;
        background-color: rgba(235, 235, 235, 0.1);
        width: 260px;
        font-weight: 600;
        padding-left: 15px;
    }
}

.why-beaglesloft {
    background-color: #444444;
    background: url('/assets/img/landing/basketball-court.png') center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white_color;

    .why-beaglesloft-title {
        height: 300px;
    }

    .why-beaglesloft-copy {
        font-family: $merriweather_font;
        font-weight: 300;
        font-size: 16px;
        color: #e5edec;
        text-align: left;
        line-height: 28px;
        font-style: italic;
    }
}