@import "partials/_constants.scss";

.tab_icons {
	text-align: center;
	h3 {
		color: $red_color;
	}
	img {
		width: 80%;
		height: auto;
	}
	
	& .hover {
		display: none;
	}
	div:hover {
		h3 {
			color: $black_color;
		}
		& .hover {
			display: inline;
		}
		& .normal {
			display: none;
		}
	}
}

.tab_icon{
	@media screen and (max-width: 767px){
		padding: 0 8px;
	}
	@media screen and (max-width: 480px){
		padding: 0 4px;
	}
	.hide1{
	@media screen and (max-width: 480px){
		display: none;	
	}
}

}
.first_icon{
	& .normal{
		display: none;
	}
	& .hover{
		display: inline;
	}
	& h3{
		color: $black_color;
	}
}

