@import "partials/_text.scss";
@import "partials/_constants.scss";
@import "partials/_images.scss";
@import "partials/_standards.scss";

body{
	background-color: $grey_color;
}
.hero {
	@include hero('/assets/img/landing/tracks.png');
}
/*
	@extend .cover-image;
	height: 40vh;
	width: 100vw;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: {
		image: url('/assets/img/landing/tracks.png');
	}
	p {
		@include font_definition($oswald_font,$hero_font_size,$hero_font_weight);
		color: $white_color;
		background-color: $red_color;
		margin: 0px;
		padding: {
			top: 10px;
			bottom: 10px;
			left: 30px;
			right: 30px;
		}
	}	
}
*/

.track-progress-breadcrumb {
    color: #aaa;
    font-size: 12px;
    font-weight: bold;
}

.track-progress {
    h3 {
        padding-top: 0px;
    }

    .panel-body {
        margin: 0px 15px;
    }
}

.track-progress-mastery {
    color: #46a8bf;
    font-weight: bold;
}

.progress-box {
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.05);
    transition-duration: .2s;
    position: relative;
    overflow: hidden;
    padding: 15px;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #f2f2f2;
    }

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}
