@import "partials/_text.scss";
@import "partials/_constants.scss";
@import "partials/_images.scss";

.hero {
	@extend .cover-image;
	height: 40vh;
	width: 100vw;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: {
		image: url('/assets/img/landing/tracks.png');
	}
	p {
		@include font_definition($oswald_font,$hero_font_size,$hero_font_weight);
		color: $white_color;
		background-color: $red_color;
		margin: 0px;
		padding: {
			top: 10px;
			bottom: 10px;
			left: 30px;
			right: 30px;
		}
	}	
}




